<app-header></app-header>
<section>
  <div class="sectiondiv">

    <!-- Tabellen ControllHeader -->
    <div class="tableHeader">
      <button class="reloadBtn">
        <fa-icon [icon]="faRotateRight" (click)="reloadFiles()">Neuladen</fa-icon>
      </button>
      <span>Anträge: {{totalFiles}} </span>
      <button class="btntext" (click)="deleteFolder()">alle löschen</button>
    </div>

    <div class="tableScrollContainer" (scroll)="scroll($event.target)">
      <table>
        <thead>
          <tr>
            <th>Dateiname</th>
            <th>Antragsart</th>
            <th>Datum</th>
            <th>docx</th>
            <th>pdf</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (file of files; track file) {
          <tr>
            <td>{{file.uploadID}}</td>
            <td>
              <div class="antragsart">{{file.antragsart}}</div>
            </td>
            <td>{{file.uploadDate}}</td>
            <td>@if (file.docxFile) {
              <a class="btnicon" (click)="uploadsdS.getFile(file.uploadID, 'docx')"><fa-icon
                  [icon]="faCircleDown"></fa-icon></a>
              } @else {
              <fa-icon [icon]="faCircleExclamation" class="btnicon notFound"></fa-icon>
              }
            </td>
            <td>@if (file.pdfFile) {
              <a class="btnicon" target="_blank" (click)="uploadsdS.getFile(file.uploadID, 'pdf')"><fa-icon
                  [icon]="faArrowUpRightFromSquare"></fa-icon></a>
              } @else {
              <fa-icon [icon]="faCircleExclamation" class="btnicon notFound"></fa-icon>
              }
            </td>
            <td (click)="clickOnDropdown($event.target)" class="dropDown">
              <fa-icon [icon]="faEllipsisVertical" class="btnicon"></fa-icon>
              <ul class="dropDownMenu">
                <li (click)="deleteFile(file.uploadID)">löschen</li>
              </ul>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</section>
<app-footer></app-footer>