section {
  animation: slide-in-from-top 500ms forwards;
  margin-top: 4em;

  .content-spacer {
    max-width: 90em;
  }

  @media only screen and (max-width: 700px) {
    .content-spacer {
      padding: 0em;
    }
  }
}

$tabele-width: clamp(300px, 95%, 1200px);

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  width: $tabele-width;
  padding-left: 0.5em;
  box-sizing: border-box;

  h2 {
    margin: 0.5em;
    font-size: 1em;
  }

  .reloadBtn {
    padding: 0.2em;
    margin: 0;
    height: 25px;
    width: 25px;
    text-align: center;
  }
}

.tablehorizontal-scroll-container {
  height: 500px;
  width: $tabele-width;
  overflow: auto;
  position: relative;
  resize: vertical;

  table {
    margin-top: 0;
    font-size: clamp(12px, 2vw, 14px);
    width: 100%;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.icon-table-cell {
  text-align: center;
}

.check {
  max-width: 1.5em;
  max-height: 1.5em;
}

.dropDown {
  position: relative;

  ul {
    visibility: collapse;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    background-color: var(--background);
    border-radius: 8px;
    list-style: none;
    z-index: 1;
    border: 1px solid var(--primary-variant-much-brighter);
    overflow: hidden;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: var(--background-variant-darker);
      }
    }
  }
}

.notFound {
  background-color: #c17878;
  cursor: unset;
}
