section {
  animation: slide-in-from-top 500ms forwards;
  margin-top: 4em;

  .content-spacer {
    max-width: 90em;
  }

  @media only screen and (max-width: 700px) {
    .content-spacer {
      padding: 0em;
    }
  }
}

.controls-row {
  display: flex;
  align-items: center;

  button.icon {
    height: 3em;
    width: 3em;
  }
}

$table-width: clamp(300px, 95%, 1200px);

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  width: $table-width;
  padding-left: 0.5em;
  box-sizing: border-box;

  h2 {
    margin: 0.5em;
    font-size: 1em;
  }
}

.horizontal-scroll-container {
  height: 500px;
  width: $table-width;
  overflow: auto;
  position: relative;
  resize: vertical;

  table {
    margin-top: 0;
    font-size: clamp(12px, 2vw, 14px);
    width: 100%;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;

    th:nth-child(1) {
      width: 5%; // Checkbox
    }
    th:nth-child(2) {
      width: 25%; // Antragsteller
    }
    th:nth-child(3) {
      width: 30%; // Grundbuchamt
    }
    th:nth-child(4) {
      width: 20%; // Erstellt am
    }
    th:nth-child(5) {
      width: 20%; // Heruntergeladen
    }
  }

  app-progress-spinner {
    margin: auto;
  }
}

.grundbuchamt {
  display: block;
  max-width: 15em;
}

.icon-table-cell {
  text-align: center;
}

.check {
  max-width: 1.5em;
  max-height: 1.5em;
  fill: var(--font-color);

  &.downloadedByUser {
    fill: greenyellow;
  }
}

.not-found {
  background-color: #c17878;
}

.edit-row {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .details {
    h3 {
      margin-top: 0;
    }

    ul {
      padding: 0;
      list-style: none;

      li span:first-of-type {
        font-weight: bold;
      }
    }
  }

  .controls {
    display: flex;
    button {
      margin-top: 0;
    }

    .delete-btn {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.5rem;
    }
  }
}
