:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fa-icon {
    color: var(--primary-color);
    font-size: 5em;
    animation: shake 200ms 5;
}

.error {
    color: red;
}