<app-header></app-header>
<section>
    <div class="sectiondiv">
        <app-antragsinfos-hero [antragsart]="antrag">
            <p>{{antrag.description}}</p>
        </app-antragsinfos-hero>
    </div>
</section>
<section>
    <div class="sectiondiv">
        <h2>Wie beantrage ich die Grundbuchberichtigung aufgrund Sterbefalls?</h2>
        <p>Der Antrag auf Grundbuchberichtigung ist formfrei zu stellen, jedoch bedarf es eines geeigneten
            Erbnachweises.</p>
        <div><a [routerLink]="antrag.antragsRoute" class="btnoutlined">Kostenloser Musterantrag</a></div>
        <p>Sollte der Erblasser Grundbesitz hinterlassen haben und kein Erbe von sich aus tätig werden,
            wird das Grundbuchamt einen der Erben schriftlich zur Berichtigung des Grundbuchs auffordern. Das
            Grundbuchamt sendet dabei in der Regel einen vorbereiteten Antrag zum unterschreiben mit. Die Erben können
            dem jedoch zuvor kommen und eigenständig einen Antrag einreichen. Während die Antragstellung selbst
            unkompliziert ist, gestaltet sich die Beschaffung eines formgerechten Erbnachweises aufwändiger.</p>
        <p>Der Antrag muss per Post, Telefax oder bei persönlichem Erscheinen auf der Geschäftsstelle gestellt werden.
        </p>
    </div>
</section>
<section>
    <div class="sectiondiv">
        <h2>Was ist ein geeigneter Erbnachweis?</h2>
        <p>Aus <a href="https://www.gesetze-im-internet.de/gbo/__35.html" target="_blank">§&nbsp;35&nbsp;GBO</a> ergibt
            sich womit
            der Nachweis der Erbfolge geführt werden kann. Der Erbnachweis muss gemäß <a
                href="https://www.gesetze-im-internet.de/gbo/__29.html" target="_blank">§&nbsp;29&nbsp;GBO</a> als
            öffentliche
            oder öffentlich beglaubigte Urkunde vorliegen.</p>
        <table>
            <thead>
                <tr>
                    <th>Dokument</th>
                    <th>Zulässigkeit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Handschriftliches Testament</td>
                    <td class="rot">Nicht zulässig<br>(Erbschein erforderlich)</td>
                </tr>
                <tr>
                    <td>Erbscheinsausfertigung</td>
                    <td style="color: green;">geeignet</td>
                </tr>
                <tr>
                    <td>Beglaubigte Abschrift eines notariellen Testaments</td>
                    <td style="color: green;">geeignet</td>
                </tr>
                <tr>
                    <td>Beglaubigte Abschrift eines notariellen Erbvertrags</td>
                    <td style="color: green;">geeignet</td>
                </tr>
                <tr>
                    <td>Beglaubigte Abschrift eines europäisches Nachlasszeugnisses</td>
                    <td style="color: green;">geeignet</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <div class="sectiondiv">
        <h2>Wer kann die Grundbuchberichtigung beantragen?</h2>
        <p>Die Grundbuchberichtigung kann von jedem der Erben beantragt werden. Es genügt der Antrag eines Erben und es
            erfolgt die Berichtigung auf die Erbengemeinschaft. Ein
            Testamentsvollstrecker ist ebenfalls antragsberechtigt.</p>
        <div><a [routerLink]="antrag.antragsRoute" class="btnoutlined">Kostenloser Musterantrag</a></div>
    </div>
</section>
<section>
    <div class="sectiondiv">
        <h2>Wo muss die Grundbuchberichtigung beantragt werden?</h2>
        <br>
        <app-sachliche-und-ortliche-zustaendigkeit></app-sachliche-und-ortliche-zustaendigkeit>
    </div>
</section>
<section>
    <div class="sectiondiv">
        <h2>Was kostet die Grundbuchberichtigung aufgrund eines Sterbefalls?</h2>
        <p>Die Grundbuchberichtigung ist zwei Jahre nach dem Tod des Eigentümers gebührenfrei. Wenn diese Frist
            abgelaufen ist, entsteht die Gebühr für die Eintragung eines Eigentümers. Diese ergibt sich aus der
            KV-Nr.&nbsp;14110 der <a href="https://www.gesetze-im-internet.de/gnotkg/anlage_1.html"
                target="_blank">Anlage&nbsp;1 des
                GNotKG</a> und ist abhängig vom Wert des Grundstücks. Die Gebühr kann aus der Gebührentabelle in der
            Tabelle B der <a href="https://www.gesetze-im-internet.de/gnotkg/anlage_2.html"
                target="_blank">Anlage&nbsp;2 des
                GNotKG</a> abgelesen werden. So entsteht bei einem Grundstückswert von bis zu 110.000,00&nbsp;€ eine
            Gebühr
            in Höhe von 273,00&nbsp;€.
        </p>
        <p style="color: green;">Zwei Jahre nach dem Tod des Eigentümers gebührenfrei.</p>
        <div class="scrollContainer">
            <table>
                <thead>
                    <tr>
                        <th>Wert&nbsp;bis</th>
                        <th>Gebühr</th>
                        <th>Wert&nbsp;bis</th>
                        <th>Gebühr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30.000&nbsp;€</td>
                        <td>125,00&nbsp;€</td>
                        <td>95.000&nbsp;€</td>
                        <td>246,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>35.000&nbsp;€</td>
                        <td>135,00&nbsp;€</td>
                        <td>110.000&nbsp;€</td>
                        <td>273,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>40.000&nbsp;€</td>
                        <td>145,00&nbsp;€</td>
                        <td>125.000&nbsp;€</td>
                        <td>300,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>45.000&nbsp;€</td>
                        <td>155,00&nbsp;€</td>
                        <td>140.000&nbsp;€</td>
                        <td>327,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>50.000&nbsp;€</td>
                        <td>165,00&nbsp;€</td>
                        <td>155.000&nbsp;€</td>
                        <td>354,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>65.000&nbsp;€</td>
                        <td>192,00&nbsp;€</td>
                        <td>170.000&nbsp;€</td>
                        <td>381,00&nbsp;€</td>
                    </tr>
                    <tr>
                        <td>80.000&nbsp;€</td>
                        <td>219,00&nbsp;€</td>
                        <td>185.000&nbsp;€</td>
                        <td>408,00&nbsp;€</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section id="FAQ">
    <div class="sectiondiv">
        <h2>Fragen und Antworten</h2>
        <ul>
            <li>
                <app-accordion frage="Ist es Pflicht das Grundbuch zu berichtigen?">
                    <p>Ja, das Grundbuch muss berichtigt werden. Sollten sich die Erben weigern, ergeht ein Zwangsgeld.
                    </p>
                </app-accordion>
            </li>
            <li>
                <app-accordion frage="Kann der Antrag elektronisch eingereicht werden?">
                    <p>Der Antrag muss per Post, Telefax oder bei persönlichem Erscheinen auf der Geschäftsstelle
                        gestellt werden.</p>
                </app-accordion>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>