<app-dashboard-tile tileTitle="Cookies">
    @if(cookies.length !== 0) {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Wert</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for(cookie of cookies; track cookie) {
            <tr>
                <td>{{cookie.name}}</td>
                <td>{{cookie.value}}</td>
                <td><button (click)="deleteCookie(cookie)" class="btnicon"><fa-icon [icon]="faTrashCan"
                            title="Cookie löschen"></fa-icon></button></td>
            </tr>
            }
        </tbody>
    </table>
    }
    <button class="btntext" (click)="cs.deleteAllCookies()">Alle Cookies löschen</button>
</app-dashboard-tile>