<app-artikel title="Grundbuchrecht - Abteilung III" nextSite="/grundbuchrecht/einleitung">
    <section>
        <div class="sectiondiv">
            <h1>Abteilung III (Grundpfandrechte)</h1>
            <p>In Abteilung III werden die Grundpfandrechte eingetragen.</p>
            <p>Diese Rechte dienen der Sicherung der Geldhingabe (z.B. eines Darlehns)</p>
            <p>Sie können als Einzelrechte (es ist ein Grundstück belastet) oder als Gesamtrechte (es sind mehrere Grundstücke belastet) eingetragen werden.</p>
        </div>
    </section>
    <section id="grundschuld">
        <hr />
        <div class="sectiondiv">
            <h2>Grundschuld</h2>
            <blockquote>„Recht aus einem Grundstück die Zahlung eines bestimmten Geldbetrages zu fordern.“ § 1191 Abs. 1 BGB</blockquote>
            <p>Keine rechtliche Bindung zur Forderung. Die Grundschuld ist unabhängig von der Forderung und eine abstrakte Grundstücksbelastung.</p>
            <p>Die Verknüpfung von Forderung und Grundschuld erfolgt nicht kraft Gesetztes, sondern durch eine schuldrechtliche Vereinbarung.</p>
            <p>Die Grundschuld bietet den Vorteil der möglichen Forderungsauswechslung.</p>
            <p>Auf die Grundschuld sind die Vorschriften der Hypothek grundsätzlich entsprechend anwendbar.</p>
            <p>Eine Grundschuld kann als Brief- oder als Buchrecht bestellt werden.</p>
        </div>
    </section>
    <section id="eigentümergrundschuld">
        <hr />
        <div class="sectiondiv">
            <h2>Eigentümer&shy;grundschuld</h2>
            <blockquote>„Grundschuld auf den Namen des Eigentümers. Eigentümer und Gläubiger sind identisch.“ § 1196 Abs. 1 BGB</blockquote>
            <p>Die Bestellung erfolgt durch einseitige Erklärung und Eintragung.</p>
            <p>Der Eigentümer sichert sich den Rang der Grundschuld.</p>
            <p>Diese Grundschuld kann als Sicherheit angeboten werden, wenn beabsichtigt wird, ein Darlehn aufzunehmen. (Abtretung)</p>
        </div>
    </section>
    <section id="rentenschuld">
        <hr />
        <div class="sectiondiv">
            <h2>Rentenschuld</h2>
            <blockquote>„Recht aus einem Grundstück zu regelmäßig wiederkehrenden Terminen die Zahlung eines bestimmten Geldbetrages zu fordern.“ § 1199 Abs. 1 BGB</blockquote>
            <p>Die Rentenschuld ist eine Sonderform der Grundschuld.</p>
            <p>Es muss ein Betrag bestimmt werden, durch dessen Zahlung die Rentenschuld abgelöst werden kann. Die Ablösesumme muss im Grundbuch angegeben werden. § 1199Abs. 2 BGB</p>
            <p>Zahlt der Eigentümer diese Betrag, geht die Rentenschuld auf ihn über. § 1200 Abs. 1 BGB</p>
            <p>Der Eigentümer haftet nur mit dem Grundstück.</p>
            <p>Eine Rentenschuld kann als Brief- oder als Buchrecht bestellt werden.</p>
            <p>Die Rentenschuld verfolgt ähnliche wirtschaftliche Ziele wie die Reallast:</p>
            <table>
                <tbody>
                    <tr>
                        <th>Rentenschuld § 1199 BGB</th>
                        <th>Reallast § 1105 BGB</th>
                    </tr>
                    <tr>
                        <td>Nur Geldzahlungen</td>
                        <td>Leistungen aller Art</td>
                    </tr>
                    <tr>
                        <td>Eintragung in Abteilung III</td>
                        <td>Eintragung in Abteilung II</td>
                    </tr>
                    <tr>
                        <td>Haftung nur mit Grundstück</td>
                        <td>Haftung mit Grundstück und persönlich</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="hypothek">
        <hr />
        <div class="sectiondiv">
            <h2>Hypothek</h2>
            <blockquote>„Recht aus einem Grundstück die Zahlung eines bestimmten Geldbetrages zur Befriedigung einer zustehenden Forderung zu fordern.“ § 1113 Abs. 1 BGB</blockquote>
            <p>Die Hypothek ist Abhängig von einer zugrunde liegenden persönlichen Forderung. (Akzessorietät)</p>
            <p>Die Forderung kann nicht ohne die Hypothek, die Hypothek kann nicht ohne die Forderung übertragen werden. § 1153 Abs. 2 BGB</p>
            <p>Die Übertragung der Forderung bewirkt vielmehr automatisch den Übergang der Hypothek auf den neuen Gläubiger. § 1153 Abs. 1 BGB</p>
            <p>Erlischt die Forderung wird aus der Hypothek eine Eigentümergrundschuld. § 1177 BGB</p>
            <p>Man unterscheidet die</p>
            <ul>
                <li>Verkehrshypothek und</li>
                <li>die Sicherungshypothek</li>
            </ul>
            <h3>Verkehrshypothek</h3>
            <p>Eine Verkehrshypothek kann als Brief- oder als Buchrecht bestellt werden.</p>
            <p>Die Verkehrshypothek erwirbt der Gläubiger erst dann, wenn folgende Voraussetzungen erfüllt sind:</p>
            <p>Bei einer Buchhypothek:</p>
            <ul>
                <li>Einigung und Eintragung § 873 BGB</li>
                <li>Entstehung der Forderung § 1113 BGB</li>
            </ul>
            <p>Bei einer Briefhypothek:</p>
            <ul>
                <li>Einigung und Eintragung § 873 BGB</li>
                <li>Entstehung der Forderung § 1113 BGB</li>
                <li>Übergabe des Hypothekenbriefes § 1117 BGB</li>
            </ul>
            <p>Vor der Briefübergabe steht das Recht dem Eigentümer zu. § 1163 Abs. 2 BGB</p>
            <p>Die Briefübergabe wird allerdings meist durch eine Vereinbarung ersetzt, die das Grundbuchamt zur Aushändigung des Briefes an den Gläubiger ermächtigt. § 1117 Abs. 2 BGB</p>
            <h4>Der Hypothekenbrief</h4>
            <p>Der Hypothekenbrief muss folgende Angaben enthalten:</p>
            <ul>
                <li>Bezeichnung „Hypothekenbrief“</li>
                <li>Geldbetrag</li>
                <li>belastetes Grundstück</li>
                <li>Unterschrift des Rechtspflegers*</li>
                <li>Unterschrift des Urkundsbeamten der Geschäftsstelle*</li>
                <li>Dienstsiegel</li>
            </ul>
            <p>* Die Unterschriften entfallen bei maschinell geführten Grundbüchern. Der Zusatz „Maschinell hergestellt und ohne Unterschrift gültig“ ist zu vermerken. § 87 GBV</p>
            <p>Weiterhin soll der Brief folgende Angaben enthalten:</p>
            <ul>
                <li>Blattnummer</li>
                <li>Inhalt der Eintragung</li>
            </ul>
            <p>Fehlt eine der Muss-Angaben, so ist der Brief ungültig. Bei Fehlen einer Soll-Angabe gilt der Brief jedoch.</p>
            <p>Der Gläubiger kann die Briefhypothek ohne Umschreibung im Grundbuch durch schriftliche Erklärung und Übergabe des Briefes auf einen anderen übertragen. § 1154 Abs. 1 BGB</p>
            <p>Wurde die Forderung gezahlt, muss der Gläubiger den Brief dem Eigentümer aushändigen. § 1144 BGB</p>
            <h4>Abtretung der Hypothek</h4>
            <p>Für die Übertragung der Hypothek auf einen anderen Gläubiger, ist die Abtretungserklärung des bisherigen Gläubigers notwendig. § 398 BGB</p>
            <p>Bei einer Buchhypothek muss die Abtretung ins Grundbuch eingetragen werden. Bei einer Briefhypothek genügt die Übergabe des Briefes.</p>
            <h4>Erlöschen der Hypothek</h4>
            <p>Die Hypothek erlischt, wenn der Gläubiger im Wege der Zwangsvollstreckung aus dem Grundstück befriedigt wird. § 1181 BGB</p>
            <p>Die Eintragung wird dann aufgrund eines Ersuchens des Zwangsvollstreckungsgericht gelöscht.</p>
            <p>Bei Rückzahlung des Darlehns oder Verzicht des Gläubigers geht die Hypothek auf dem Eigentümer über. Gleichzeitig wird das Grundbuch unrichtig. §§ 1163 Abs. I S. 2, 1168 BGB</p>
            <p>Der Eigentümer kann das Recht löschen lassen oder in eine Eigentümergrundschuld umschreiben lassen.</p>
            <p>
                Die Umschreibung in eine Eigentümergrundschuld verhindert jedoch nicht das Aufrücken rangschlechterer Grundpfandrechte. Gleich- oder nachrangigen Grundpfandrechten steht ein
                gesetzlicher Löschungsanspruch gegenüber dem Eigentümer zu. § 1179a Abs. 1 BGB
            </p>
            <p>Der Löschungsanspruch kann vertraglich ausgeschlossen werden. § 1179a Abs. 5 BGB</p>
            <h3>Sicherungshypothek</h3>
            <ul>
                <li>muss als solche im Grundbuch bezeichnet sein § 1184 BGB</li>
                <li>kann nur als Buchrecht bestellt werden § 1185 BGB</li>
            </ul>
            <p>Die Erteilung eines Briefes ist immer ausgeschlossen.</p>
            <p>Sicherungshypothek kraft Gesetzes sind:</p>
            <ul>
                <li>Höchstbetragshypothek § 1190 BGB</li>
                <li>Zwangssicherungshypothek §§ 866 ff. ZPO</li>
            </ul>
            <h4>Höchstbetragshypothek</h4>
            <blockquote>„Sonderform der Sicherungshypothek, bei der die Haftung nur bis zu dem im Grundbuch eingetragenen Höchstbetrag beschränkt ist.“</blockquote>
            <ul>
                <li>wird nicht für einen Forderungsbetrag sondern einen Höchstbetrag bestellt</li>
                <li>Zinsen sind im Höchstbetrag eingerechnet</li>
                <li>Forderung kann unabhängig von der Hypothek übertragen werden</li>
                <li>soweit die Forderung hinter dem Höchstbetrag zurückbleibt, steht die Hypothek dem Eigentümer zu</li>
                <li>Heute nicht mehr üblich (Grundschuld ist vorteilhafter, aufgrund formloser Forderungsauswechslung)</li>
            </ul>
            <h4>Zwangssicherungshypothek</h4>
            <blockquote>„Sicherungshypothek, die im Wege der Zwangsvollstreckung wegen einer Geldforderung von mehr als 750 € ins Grundbuch eingetragen wird.“</blockquote>
            <p>Für die Eintragung müssen die vollstreckungsrechtlichen Voraussetzungen als auch die grundbuchrechtlichen Voraussetzungen erfüllt sein.</p>
            <h5>Vollstreckungsrechtliche Voraussetzungen</h5>
            <ul>
                <li>Titel §§ 704, 794 ZPO</li>
                <li>Klausel §§ 725 ZPO</li>
                <li>Zustellung §§ 750 ZPO</li>
            </ul>
            <p>Die Forderung muss mehr als 750,00 € betragen. Auf Grund mehrerer demselben Gläubiger zustehender Schuldtitel kann eine einheitliche Sicherungshypothek eingetragen werden. § 866 ZPO</p>
            <p>Es darf keine Gesamthypothek entstehen. (eine Hypothek für mehrere Grundstücke)</p>
            <p>
                Sollen mehrere Grundstücke des Schuldners mit der Hypothek belastet werden, so ist der Betrag der Forderung auf die einzelnen Grundstücke zu verteilen. Der Betrag eines Teiles muss
                mehr als 750,00 € betragen. Die Größe der Teile bestimmt der Gläubiger. § 867 Abs. 2 ZPO
            </p>
            <h5>Grundbuchrechtliche Voraussetzungen</h5>
            <ul>
                <li>Antrag § 13 GBO</li>
                <li>Titel (ersetzt die Bewilligung des Eigentümers)</li>
                <li>Schuldner muss eingetragen sein</li>
            </ul>
            <p>Der Schuldtitel ist an den Gläubiger zurückzugeben.</p>
            <p>
                Bei Anträgen von Bundes- und Landesbehörden (z.B. Finanzamt, Gerichtskasse) braucht kein Vollstreckungstitel vorgelegt werden, hier genügen Siegel und Unterschrift des Behördenleiters
                auf dem Eintragungsersuchen.
            </p>
            <p>Bei Anträgen von Körperschaften des öffentliches Rechts (z.B. Gemeinden, Krankenkassen, Innungen) wird anstelle eines Titels ein Ausstandsverzeichnis vorgelegt.</p>
            <h5>Titelvermerk</h5>
            <p>Die Eintragung ist auf dem Vollstreckungstitel zu vermerken. § 867 Abs. 1 S. 1 ZPO</p>
            <p>In der Praxis geschieht dies durch Verbindung des Titels mit einem Ausdruck eines Eintragungsvermerks.</p>
        </div>
    </section>
</app-artikel>
