<app-header></app-header>
<section>
  <div class="content-spacer">
    <app-login-card title="Admin Login" imagePath="/images/liegenschaftskarte.avif">
      <svg class="icon" icon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
        <path
          d="M256 160L256 224L384 224L384 160C384 124.7 355.3 96 320 96C284.7 96 256 124.7 256 160zM192 224L192 160C192 89.3 249.3 32 320 32C390.7 32 448 89.3 448 160L448 224C483.3 224 512 252.7 512 288L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 288C128 252.7 156.7 224 192 224z"
        />
      </svg>
      <form content [formGroup]="loginForm" (ngSubmit)="tryLogin()">
        <span class="error">{{ errorMessage }}</span>
        <div class="input-container">
          <input formControlName="username" type="text" id="username" name="username" placeholder="&nbsp;" autocomplete="username" #username />
          <label class="placeholder" for="username">Benutzername</label>
        </div>
        <div class="input-container">
          <input
            formControlName="password"
            type="password"
            id="password"
            name="password"
            autocomplete="current-password"
            spellcheck="false"
            placeholder="&nbsp;"
          />
          <label class="placeholder" for="password">Passwort</label>
        </div>
        <button class="btn-outlined" type="submit">Anmelden</button>
      </form>
    </app-login-card>
  </div>
</section>
