:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    ul {
        list-style: none;
        display: flex;
        gap: 1em;

        li {
            a {
                font-size: 1.2em;
                padding: 1em;
                color: var(--schrift);
                text-decoration: none;
                display: flex;
            }

            &.active {
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
}