<footer [ngClass]="{'darkmode': dl.darkmode.value}">
  <div class="anmeldediv" [ngClass]="{'anmeldedivOpen': anmeldeInputVisible}">
    <div class="inputfeld">
      <input #password (keyup.enter)="anmelden(password.value)"  type="password" id="password" name="email" spellcheck="false" placeholder="&nbsp;">
      <label class="placeholder" for="password">Passwort</label>
    </div>
    <button (click)="anmeldeBtnClick()" class="btnicon" *ngIf="!auth.checkToken()">
      <fa-icon [icon]="faRightToBracket"></fa-icon>
    </button>
    <div class="adminDiv" *ngIf="auth.checkToken()">
      <ul>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <div class="farbpalettenDiv">
        <ul>
          <li title="primary-color"></li>
          <li title="primary-variant-darker"></li>
          <li title="primary-variant-brighter"></li>
          <li title="primary-variant-much-brighter"></li>
          <li title="hintergrund-variant"></li>
          <li title="hintergrund-variant-darker"></li>
        </ul>
      </div>
    </div>
  </div>
  <ul>
    <li>
      <a routerLink="/datenschutz">Datenschutz</a>
    </li>
    <li>
      <a routerLink="/impressum">Impressum</a>
    </li>
  </ul>
</footer>