:host {
    margin-top: auto;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    display: inline-flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;

    li {
        margin-right: clamp(1em, 4vw, 3em);
        background-color: var(--hintergrund-variant);
        border-radius: 6px;
        margin: 0.4rem;
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 14px;
            margin: 8px;
        }
    }
}


.anmeldediv{
    margin: auto auto auto 0;
    position: relative;
    display: flex;
    align-items: center;
    
    .inputfeld{
        height: 35px;
        width: 0;
        margin-left: 5px;
    }
}

.anmeldedivOpen{
    animation: fromLeft 1s forwards;

    .inputfeld{
        width: 100px;
    }
}

@keyframes fromLeft{
    0%{
        left: -100px;
    }
    100%{
        left: 0;
    }
}
