<footer>
  <div class="anmeldediv">

    @if (!authS.authToken) {
    <a routerLink="/login" class="btnicon" aria-label="Login">
      <fa-icon [icon]="faRightToBracket" area-hidden="true"></fa-icon>
    </a>
    }
    @if (authS.authToken) {
    <div class="adminDiv">
      <ul>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <div class="farbpalettenDiv">
        <ul>
          <li title="primary-color"></li>
          <li title="primary-variant-darker"></li>
          <li title="primary-variant-brighter"></li>
          <li title="primary-variant-much-brighter"></li>
          <li title="hintergrund-variant"></li>
          <li title="hintergrund-variant-darker"></li>
        </ul>
      </div>
    </div>
    }
  </div>
  <ul>
    <li>
      <a routerLink="/datenschutz">Datenschutz</a>
    </li>
    <li>
      <a routerLink="/impressum">Impressum</a>
    </li>
  </ul>
</footer>