<header [ngClass]="{ darkmode: dl.darkmode() }">
  <div class="desktopheader" [style.background]="background()">
    <div class="farbauswahlbuttondiv">
      <button class="btnDesign farbauswahlbutton" (click)="clickOnColorPicker()" aria-label="Farbeinstellungen"></button>
      <div class="farbauswahl" [ngClass]="{ open: colorPickerIsOpen() }">
        @for (color of colorOptions; track color) {
          <button
            class="btnDesign"
            (click)="setColorFromPresets($event.target)"
            [style.background-color]="color"
            aria-label="Farbe auswählen"
          ></button>
        }
        <div class="anderefarbediv">
          <label for="colorPickerDesktop">Eigene Farbe auswählen</label>
          <input
            #colorPicker
            [value]="dl.primaryColor"
            type="color"
            name="farbe"
            (change)="setCustomColor($event.target)"
            id="colorPickerDesktop"
            (blur)="clickOnColorPicker()"
          />
        </div>
      </div>
    </div>
    <button class="btnDesign darkmodebtn" (click)="dl.togledesignScheme()" aria-label="Darkmode umschalten">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
        <path
          fill="currentColor"
          d="M320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576C388.8 576 451.3 548.8 497.3 504.6C504.6 497.6 506.7 486.7 502.6 477.5C498.5 468.3 488.9 462.6 478.8 463.4C473.9 463.8 469 464 464 464C362.4 464 280 381.6 280 280C280 207.9 321.5 145.4 382.1 115.2C391.2 110.7 396.4 100.9 395.2 90.8C394 80.7 386.6 72.5 376.7 70.3C358.4 66.2 339.4 64 320 64z"
        />
      </svg>
    </button>
    <nav>
      <ul>
        <li>
          <a routerLink="/">Musteranträge</a>
        </li>
        <li>
          <a routerLink="/grundbuchrecht/einleitung">Grundbuchrecht</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobileheader">
    <div class="mobileheadercontent">
      <nav>
        <ul>
          <li>
            <a routerLink="/"><span>Musteranträge</span></a>
          </li>
          <li>
            <a routerLink="/grundbuchrecht/einleitung"><span>Grundbuchrecht</span></a>
          </li>
        </ul>
      </nav>
      <div class="designButtonsDiv">
        <div class="farbauswahlbuttondiv">
          <button class="btnDesign farbauswahlbutton" (click)="clickOnColorPicker()" aria-label="Farbeinstellungen"></button>
          <div class="farbauswahl" [ngClass]="{ open: colorPickerIsOpen() }">
            @for (color of colorOptions; track color) {
              <button
                class="btnDesign"
                (click)="setColorFromPresets($event.target)"
                [style.background-color]="color"
                aria-label="Farbe auswählen"
              ></button>
            }
            <div class="anderefarbediv">
              <label for="colorPickerMobile">Eigene Farbe auswählen</label>
              <input
                #colorPicker
                [value]="dl.primaryColor"
                type="color"
                name="farbe"
                (change)="setCustomColor($event.target)"
                id="colorPickerMobile"
                (blur)="clickOnColorPicker()"
              />
            </div>
          </div>
        </div>
        <button class="btnDesign darkmodebtn" (click)="dl.togledesignScheme()" aria-label="Darkmode umschalten">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path
              fill="currentColor"
              d="M320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576C388.8 576 451.3 548.8 497.3 504.6C504.6 497.6 506.7 486.7 502.6 477.5C498.5 468.3 488.9 462.6 478.8 463.4C473.9 463.8 469 464 464 464C362.4 464 280 381.6 280 280C280 207.9 321.5 145.4 382.1 115.2C391.2 110.7 396.4 100.9 395.2 90.8C394 80.7 386.6 72.5 376.7 70.3C358.4 66.2 339.4 64 320 64z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div #cookiebanner class="cookiebanner hidden">
    <div>
      <span>{{ requestetCookie()?.consentQuestion }}</span>
      <button (click)="confirmCookie()" id="cookiejabtn" class="btn-text">Ja</button>
      <button (click)="nextBanner()" id="cookieneinbtn" class="btn-text">Nein</button>
    </div>
  </div>
</header>
