header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

.cookiebanner {
  width: 100%;
  max-height: 5em;
  transition: max-height 0.2s linear;
  overflow: hidden;
  display: flex;
  z-index: -2;

  div {
    background-color: var(--hintergrund-variant-darker);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    span {
      font-size: clamp(0.7rem, 1.5vw, 1rem);
    }
  }
}

.ausgeblendet {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.desktopheader {
  display: flex;
  height: 3em;
  align-items: stretch;
  width: 100%;

  a,
  a:visited {
    color: var(--schrift);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  ul {
    padding-left: 2vw;
    margin: 0;
    display: flex;
    list-style: none;
    height: 100%;
    gap: 0.5em;
    font-size: 1.4em;

    li {
      &:hover {
        border-bottom: 3px solid var(--primary-variant-darker);
      }
    }
  }

  .btnDesign:hover {
    transform: scale(1.05);
  }

  .farbauswahlbuttondiv:hover .farbauswahl,
  .farbauswahl:hover {
    top: 3em;
    transition: top 80ms ease-in-out;
  }
}

.darkmode header nav ul li:hover {
  background-color: #646464;
  border-bottom: 3px solid var(--primary-variant-much-brighter);
}

.btnDesign {
  border: 2px solid #707070;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 8px;
  cursor: pointer;
}

.darkmodebtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto 0.5em;

  fa-icon {
    display: flex;
    align-items: center;
  }
}

.farbauswahlbutton {
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin-left: 1em;
}

.farbauswahlbuttondiv {
  height: 100%;
  display: flex;
  align-items: center;
}

.farbauswahl {
  z-index: -1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.2rem;
  top: -15em;
  position: absolute;
  background-color: var(--hintergrund-variant-darker);
  height: 200px;
  width: 200px;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.anderefarbediv {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  span {
    margin-left: 4px;
  }

  input {
    border-radius: 10px;
    height: 40px;
    width: 90px;
    border: none;
    background: none;
  }

  input::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input::-webkit-color-swatch {
    border: 2px solid #707070;
    border-radius: 10px;
    background-color: unset;
  }
}

.mobileheader {
  display: none;
  border-top: 2px solid var(--primary-color);

  .mobileheadercontent {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--hintergrund-variant-darker);
    align-items: stretch;
  }

  .designButtonsDiv {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .farbauswahlbuttondiv:hover .farbauswahl,
  .farbauswahl:hover {
    top: 3em;
    transition: top 80ms ease-in-out;
  }

  nav {
    flex: 1;
    display: flex;
    height: 100%;

    ul {
      display: flex;
      padding: 0;
      list-style: none;
      margin: 0;
      flex: 1;

      li {
        flex: 1;
        display: flex;
      }

      a {
        text-decoration: none;
        flex: 1;
        color: var(--schrift);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--hintergrund-variant);
        }
      }
    }
  }

  .farbauswahl {
    right: 0;
  }
}

.darkmode .mobileheader nav ul a {
  color: var(--primary-color);
}

@media only screen and (max-width: 700px) {
  .desktopheader {
    display: none;
  }

  .mobileheader {
    display: block;
  }
}

.closingdiv {
  height: 100vh;

  &.unsichtbar {
    display: none;
  }
}