header {
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.desktopheader a {
  text-decoration: none;
}

.cookiebanner {
  width: 100%;
  max-height: 5em;
  transition: max-height 0.2s linear;
  overflow: hidden;
  display: flex;
}

.cookiebanner div {
  background-color: var(--primary-variant-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cookiebanner div span {
  margin: 0.5em;
  color: white;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}

.darkmode .cookiebanner div {
  background-color: var(--primary-variant-much-brighter);
}

.ausgeblendet {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.desktopheader {
  display: flex;
  height: 3em;
  align-items: center;
  width: 100%;
  background-color: inherit;
  background-color: var(--hintergrund);
}

header button {
  height: 80%;
  font-size: 1.2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: none;
  background-color: inherit;
}

header nav ul {
  display: flex;
  height: auto;
  margin: 0;
  position: relative;
  align-items: center;
  background-color: inherit;
  padding-left: 2vw;
}

header nav ul li {
  display: flex;
  align-items: center;
  margin-right: 1.5vw;
  height: 100%;
  background-color: inherit;
}

.desktopheader li:hover {
  border-bottom: 3px solid var(--primary-variant-darker);
  background-color: var(--hintergrund);
  padding: 2% 0 0 0;
  box-sizing: border-box;
}

.darkmode header nav ul li:hover {
  background-color: #646464;
  border-bottom: 3px solid var(--primary-variant-much-brighter);
}

header nav ul li:hover a {
  color: rgb(121, 121, 121);
  font-weight: 500;
}

header nav ul li a {
  color: var(--schrift);
  list-style-type: none;
  font-size: 20px;
}

.darkmode header nav ul li a {
  color: whitesmoke;
}

.btnDesign {
  border: 3px solid #707070;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.darkmodebtn {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 0.5em;
}
.darkmodebtn fa-icon {
  display: flex;
  align-items: center;
}

.farbauswahlbutton {
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin-left: 1em;
}

.farbauswahlbuttondiv {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.farbauswahlbuttondiv:hover .farbauswahl,
.farbauswahl:hover {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.2rem;
}

.farbauswahl {
  position: absolute;
  background-color: inherit;
  height: 200px;
  width: 200px;
  padding: 0.5em;
  top: 3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: none;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.anderefarbediv {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.anderefarbediv span {
  margin-left: 4px;
}
.anderefarbediv input {
  border-radius: 10px;
  height: 40px;
  width: 90px;
  border: none;
  background: none;
}
.anderefarbediv input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.anderefarbediv input::-webkit-color-swatch {
  border: 2px solid #707070;
  border-radius: 10px;
  background-color: unset;
}

.mobileheader {
  display: none;
}
.mobileheader .mobileheadercontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hintergrund);
}
.mobileheader .mobileheadercontent .fa-house {
  margin-left: 1.2em;
}
.mobileheader .designbuttons {
  display: flex;
}
.mobileheader nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.mobileheader nav ul li {
  padding: 0.5em;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mobileheader nav ul li:nth-of-type(2n -1) {
  background-color: var(--hintergrund-variant-darker);
}
.mobileheader .farbauswahl {
  right: 3em;
  top: 2.3em;
  background-color: var(--hintergrund);
  z-index: 2;
}
.mobileheader .mobilenav {
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  background-color: var(--hintergrund);
}
.mobileheader .mobilenavsichtbar {
  max-height: 500px;
  transition: 1ms;
}

@media only screen and (max-width: 700px) {
  .desktopheader {
    display: none;
  }
  .mobileheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.closingdiv {
  background-color: transparent;
  height: 100vh;
}

.unsichtbar {
  display: none;
}/*# sourceMappingURL=header.component.css.map */