:host {
    height: 100%;
    display: flex;
    animation: grow 500ms;
}

.container {
    background-color: var(--hintergrund-variant-darker);
    padding: 1em;
    border-radius: 4px;
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
}