<app-artikel title="Grundbuchrecht - Bestandsverzeichnis" nextSite="/grundbuchrecht/abteilung1">
  <section id="definitiongrundstück">
    <div class="content-spacer">
      <h1>Das Bestandsverzeichnis</h1>
      <h2>Definition Grundstück</h2>
      <blockquote>
        "Ein Grundstück ist ein <b>katastermäßig vermessener</b> Teil der Erdoberfläche, der unter einer
        <b>laufenden Nummer im <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a></b> eingetragen ist."
      </blockquote>
      <p>
        Werfen wir einen Blick in das Bestandsverzeichnis eines Grundbuchs. Das Bestandsverzeichnis folgt direkt nach der Aufschrift/Titelseite des
        Grundbuchs. Hier sind alle Grundstücke aufgelistet, welche in einem Grundbuch verzeichnet sind.
      </p>
      <div class="musterbvz">
        <div class="schriftganzoben spacebetween">
          <div><b>Amtsgericht</b><br />Musterstadt</div>
          <div><b>Grundbuch von</b><br />Musterhausen</div>
          <div><b>Blatt</b><br />354</div>
          <div><b>Bestandsverzeichnis</b></div>
        </div>
        <div class="header">
          <div class="width10 columndiv borderright">
            <span class="flexgrow1"
              >Laufende<br />
              Nummer<br />der<br />Grund&shy;stücke</span
            >
            <span class="bordertop height20">1</span>
          </div>
          <div class="width10 columndiv borderright">
            <span class="flexgrow1"
              >Bisherige<br />
              laufende<br />
              Nummer<br />der Grund&shy;stücke</span
            >
            <span class="bordertop height20">2</span>
          </div>
          <div class="flexgrow1 columndiv borderright">
            <span class="padding borderbottom">Bezeichnung der Grundstücke und der mit dem Eigentum verbundenen Rechte</span>
            <div class="rowdiv">
              <div class="columndiv borderright width20">
                <span class="flexgrow1">Gemarkung<br />(Vermess&shy;ungs&shy;bezirk)</span>
                <span class="bordertop height20">a</span>
              </div>
              <div class="columndiv borderright width20">
                <div class="flexgrow1 columndiv">
                  <span class="flexgrow1">Karte</span>
                  <div class="rowdiv"><Span class="borderright flexgrow1">Flur</Span><span class="flexgrow1">Flurstück</span></div>
                </div>
                <span class="bordertop height20">b</span>
              </div>
              <div class="columndiv borderright width15">
                <span class="flexgrow1">Liegen-<br />schafts-<br />buch</span>
                <span class="bordertop height20">c/d</span>
              </div>
              <div class="columndiv flexgrow1">
                <span class="flexgrow1">Wirtschaftsart und Lage</span>
                <span class="bordertop height20">e</span>
              </div>
              <div></div>
            </div>
            <span class="bordertop height20">3</span>
          </div>
          <div class="columndiv width10">
            <span class="padding borderbottom">Größe</span>
            <div class="flexgrow1 rowdiv">
              <span class="borderright flexbasis100">ha</span>
              <span class="borderright flexbasis100">a</span>
              <span class="flexbasis100">m²</span>
            </div>
            <span class="bordertop height20">4</span>
          </div>
        </div>
        <div class="gbinhalt rowdiv">
          <div class="width10 borderright columndiv">
            <span class="margin1">1</span>
            <span class="margin1"></span>
            <span class="margin1">2</span>
            <span class="margin1">3</span>
          </div>
          <div class="width10 borderright columndiv">
            <span class="margin1">-</span>
            <span class="margin1">-</span>
            <span class="margin1">-</span>
            <span class="margin1">-</span>
          </div>
          <div class="flexgrow1 borderright rowdiv">
            <div class="width20 borderright columndiv">
              <span class="margin1">Musterhausen</span>
              <span class="margin1">Musterhausen</span>
              <span class="margin1">Musterhausen</span>
              <span class="margin1">Musterhausen</span>
            </div>
            <div class="width20 borderright columndiv">
              <div class="margin1 rowdiv spacearound"><span>4</span><span>7/2</span></div>
              <div class="margin1 rowdiv spacearound"><span>4</span><span>7/5</span></div>
              <div class="margin1 rowdiv spacearound"><span>2</span><span>1/3</span></div>
              <div class="margin1 rowdiv spacearound"><span>7</span><span>5</span></div>
            </div>
            <div class="width15 borderright columndiv"></div>
            <div class="flexgrow1 columndiv">
              <span class="margin1 textalignleft">Gebäude- und Freifläche<br />Alte Landstraße 34</span>
              <span class="margin1 textalignleft">Landwirtschaftsfläche<br />Hohes Feld</span>
              <span class="margin1 textalignleft">Gebäude- und Freifläche<br />Neue Allee 14</span>
              <span class="margin1 textalignleft">Waldfläche<br />Auf dem Hügel</span>
            </div>
          </div>
          <div class="width10 rowdiv">
            <div class="flexbasis100 borderright flexshrink1 columndiv"></div>
            <div class="flexbasis100 borderright flexshrink1 columndiv">
              <span class="margin1">1</span>
              <span class="margin1">1</span>
              <span class="margin1">1</span>
              <span class="margin1">25</span>
            </div>
            <div class="flexbasis100 columndiv">
              <span class="margin1">63</span>
              <span class="margin1">23</span>
              <span class="margin1">74</span>
              <span class="margin1">66</span>
            </div>
          </div>
          <div class="rahmengrundstück">
            <div></div>
          </div>
        </div>
      </div>
      <p>
        Alles was in der ersten Spalte unter einer Nummer geführt ist, gehört rechtlich zu einem Grundstück. Oben ist bespielhaft das Grundstück mit
        der
        <span class="variantColor">laufenden Nummer 1</span> farblich hervorgehoben.
      </p>
    </div>
  </section>
  <section id="definitionflurstück">
    <hr />
    <div class="content-spacer">
      <h2>Definition Flurstück</h2>
      <blockquote>
        Ein Flurstück ist ein katastermäßg vermessener Teil der Erdoberfläche, der unter der Flurstücksnummer im Liegenschaftskataster verzeichnet
        ist.
      </blockquote>
      <p>Das Flurstück ist die kleinste Buchungseinheit des Liegenschaftskatasters.</p>
      <p>Andere Bezeichnung: Parzelle</p>
      <p>
        Ein <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a> besteht aus mindestens einem Flurstück,
        kann jedoch auch aus meheren Flurstücken bestehen.
      </p>
      <p>
        Schauen wir uns noch einmal das obige Bestandsverzeichnis an. Das farblichhervorgehobene Grundstück Nr. 1 besteht aus zwei Flurstücken. Das
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a> mit der laufenden Nr. 2 sowie das
        Grundstück mit der laufenden Nr. 3 besteht jeweils aus nur einem Flurstück.
      </p>
      <p>
        Zu jedem Flurstück wird die Nutzungsart/Wirtschaftsart, Lagebezeichnung und die Größe in das
        <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> eingetragen
        <a href="https://www.gesetze-im-internet.de/gbvfg/__6.html" target="_blank">§ 6 Abs. 3a Nr. 4 GBV</a>.
      </p>
    </div>
  </section>
  <section id="definitionflur">
    <hr />
    <div class="content-spacer">
      <h2>Definition Flur</h2>
      <blockquote>Zusammenfassung mehrere Flurstücke in eine größere Einheit.</blockquote>
      <p>
        Im obigen Bestandsverzeichnis sind die beiden Flurstücke des
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstücks</a>
        mit der laufenden Nr. 1 der Flur 4 zugeordnet.
      </p>
    </div>
  </section>
  <section id="definitiongemarkung">
    <hr />
    <div class="content-spacer">
      <h2>Definition Gemarkung</h2>
      <blockquote>Bezirk, welcher die Bezeichnung des Ortsteils bzw. Stadtteils trägt.</blockquote>
      <p>
        In einem <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> werden immer nur die
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a> geführt, welche zu einer Gemarkung gehören.
        Hat eine Person Eigentum in zwei Gemarkungen, gibt es zwangsläufig 2 verschiedene Grundbücher.
      </p>
    </div>
  </section>
  <section id="liegenschaftskarte">
    <hr />
    <div class="content-spacer">
      <h2>Liegenschaftskarte/<wbr />Flurkarte</h2>
      <p>
        Die Flurkarte zeigt die geografische Lage der
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflurstück">Flurstücke</a>. Das
        <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a>
        kann nur in Verbindung mit der Flurkarte richtig gelesen werden. Das Grundbuchamt ist nicht für Ausdrucke einer Flurkarte zuständig. Im
        Grundbuch ist keine Flurkarte enthalten. Sie können sich online im
        <a href="https://www.geoportal.de/Themen/Raum_und_Lage/3_Liegenschaften.html" target="_blank">Geoportal</a> die Lage der Flurstücke anzeigen
        lassen oder bei der zuständigen Behörde eine Flurkarte beantragen.
      </p>
      <div class="image-zoom-box">
        <img src="images/liegenschaftskarte.avif" alt="Liegenschaftskarte" class="responsive" />
      </div>
    </div>
  </section>
  <section id="zerlegung">
    <hr />
    <div class="content-spacer">
      <h2>Zerlegung</h2>
      <blockquote>
        Katastermäßige Aufteilung eines <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflurstück">Flurstücks</a>
      </blockquote>
      <p>
        Ein Flurstück wird in <b>mehrere</b> Flurstücke aufgeteilt. <br /><br />
        Es bleibt jedoch bei einem
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a> (Eine laufende Nr. im Bestansverzeichnis).
        <br />
        <br />
        Anlass kann beispielsweise der Verkauf eines Grundstücksteiles sein. (Nach der Zerlegung kann dann eine
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="teilung">Teilung</a> in zwei Grundstücke folgen.)
      </p>
    </div>
  </section>
  <section id="verschmelzung">
    <hr />
    <div class="content-spacer">
      <h2>Verschmelzung</h2>
      <blockquote>
        Katastermäßige Zusammenführung mehrerer
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflurstück">Flurstücke</a>.
      </blockquote>
      <p>Aus mehreren Flurstücken wird ein einziges.</p>
      <p>Folgende Voraussetzungen müssen für eine Verschmelzung erfüllt sein:</p>
      <ul>
        <li>die Flurstücke bilden örtlich und wirtschaftlich eine Einheit.</li>
        <li>
          die Flurstücke sind im <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> unter einer laufenden Nummer
          gebucht (ein <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a>)
        </li>
      </ul>
      <p>Die Verschmelzung ist statthaft, wenn</p>

      <ul>
        <li>
          die Flurstücke in derselben
          <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongemarkung">Gemarkung</a> liegen und unmittelbar aneinandergrenzen
        </li>
        <li>die Flurstücke im gleichen Eigentum stehen</li>
        <li>die Flurstücke unbelastet oder gleichbelastet sind</li>
      </ul>
      <p>Die Verschmelzung ist kostenfrei, da dies auch der Übersichtlichkeit der öffentlichen Nachweise dient.</p>
    </div>
  </section>
  <section id="teilung">
    <hr />
    <div class="content-spacer">
      <h2>Teilung</h2>
      <blockquote>
        Die Aufteilung eines bestehenden
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstücks</a> in zwei oder mehrere rechtlich
        selbständige
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstücke</a>
      </blockquote>
      <p>
        Aus einen Grundstück wird mindestens ein
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflurstück">Flurstück</a> entnommen und als getrennt laufende Nummer im
        Bestandsverzeichnis geführt. Es entsteht ein neues
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a><br />Die auf dem Grundstück lastenden
        Rechte gehen auf das neue Grundstück über.
      </p>
    </div>
  </section>
  <section id="vereinigung">
    <hr />
    <div class="content-spacer">
      <h2>Vereinigung</h2>
      <blockquote>
        Zusammenführung mehrerer
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstücke</a> zu einem einzigen
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstück</a>
      </blockquote>
      <p>
        Häufig ist eine Vereinigung von mehreren Grundstücken für die Erteilung einer Baugenehmigung erforderlich. <br /><br />Eine Vereinigung soll
        insbesondere dann unterbleiben, wenn die Grundstücke mit unterschiedlichen
        <a routerLink="/grundbuchrecht/abteilung3">Grundpfandrechten</a> oder
        <a routerLink="/grundbuchrecht/abteilung2" fragment="reallast">Reallasten</a>
        belastet sind oder mit denselben Grundpfandrechten oder Reallasten in unterschiedlicher Rangfolge.
      </p>
    </div>
  </section>
</app-artikel>
