.musterbvz {
  text-align: center;
  width: 90%;
  margin: 2em auto;
  * {
    box-sizing: border-box;
  }

  span {
    font-size: clamp(8px, 1vw, 14px);
  }

  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  .schriftganzoben {
    display: flex;
    font-size: clamp(6px, 16px, 2vw);
    justify-content: space-between;
  }

  .header {
    border: 1px solid var(--font-color);
    display: flex;
  }

  .width20 {
    width: 22%;
  }

  .width10 {
    width: 10%;
  }

  .width15 {
    width: 15%;
  }

  .flexgrow1 {
    flex-grow: 1;
  }

  .flexbasis100 {
    flex-basis: 100%;
  }

  .height20 {
    height: 1.5em;
  }

  .columndiv {
    display: flex;
    flex-direction: column;
  }

  .rowdiv {
    display: flex;
  }

  .borderright {
    border-right: 1px solid var(--font-color);
  }

  .borderbottom {
    border-bottom: 1px solid var(--font-color);
  }

  .bordertop {
    border-top: 1px solid var(--font-color);
  }

  .padding {
    padding: 0.3em;
  }

  .margin1 {
    margin-top: 1rem;
    height: 2rem;
  }

  .spacearound {
    justify-content: space-around;
  }

  .gbinhalt {
    height: 200px;
    border: 1px solid var(--font-color);
    border-top: 0;
    position: relative;
  }

  .textalignleft {
    text-align: left;
    margin-left: 2%;
  }

  .rahmengrundstück {
    position: absolute;
    width: 100%;

    div {
      border: 2px solid var(--primary-variant-much-brighter);
      height: 5.5rem;
      width: 99%;
      margin: 0.9em auto;
    }
  }
}

.responsive {
  max-width: 100%;
  height: auto;
}
