:host {
  width: 100%;
  margin-top: 4em;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 40% 60%;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: auto;

    img {
      order: -1;
      max-height: 18em;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;

  h1 {
    margin: 0.5em 0;
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: 100%;
    text-align: unset;
    color: var(--font-color);
    overflow-wrap: break-word;
  }

  .labels {
    display: flex;
    align-items: center;
    font-size: clamp(12px, 1vw, 0.8rem);
    width: 100%;
    margin: 8px;

    span {
      margin: 0 1em;
    }

    svg {
      width: clamp(2em, 5vw, 3em);
      height: clamp(2em, 5vw, 3em);
    }
  }
}

img {
  height: auto;
  max-height: 33em;
  object-fit: contain;
  width: 100%;
  animation: grow 500ms;
}
