<section>
  <div class="sectiondiv">
    <div class="content">
      <div class="userInfos">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
          <path
            fill="currentColor"
            d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z"
          />
        </svg>
        <div class="userInfosContent">
          @if (userSettingsS.usernameResource.isLoading()) {
            <app-progress-spinner [endless]="true"></app-progress-spinner>
          } @else if (userSettingsS.usernameResource.error()) {
            <span class="error">Benutzername konnen nicht geladen werden</span>
          } @else {
            <h1>{{ userSettingsS.usernameResource.value() }}</h1>
          }

          @if (userSettingsS.userRoleResource.isLoading()) {
            <app-progress-spinner [endless]="true"></app-progress-spinner>
          } @else if (userSettingsS.userRoleResource.error()) {
            <span class="error">Nutzerrolle konnen nicht geladen werden</span>
          } @else {
            <span class="italic">Userrolle: {{ userSettingsS.userRoleResource.value()?.userRoleName }}</span>
            <p class="textBox">
              {{ userSettingsS.userRoleResource.value()?.userRoleDescription }}
            </p>
          }
        </div>
      </div>
      <div class="tile">
        <form [formGroup]="newUsernameForm" #ngFormNewUsername="ngForm" (ngSubmit)="changeUsername()">
          <div class="inputfeld">
            <input formControlName="newUsername" type="text" name="username" placeholder="&nbsp;" />
            <label class="placeholder" for="username">Neuer Username</label>
          </div>
          @if (newUsernameForm.get("newUsername")?.errors?.["error"]) {
            <small class="error">{{ newUsernameForm.controls["newUsername"].getError("error").message }}</small>
          }
          <button class="btntext" type="submit">Username aktualisieren</button>
        </form>
      </div>
      <div class="tile">
        <p>Passwort ändern:</p>
        <form [formGroup]="newPasswordForm" #ngFormNewPassword="ngForm" (ngSubmit)="changePassword()">
          <div class="inputfeld">
            <input formControlName="oldPassword" type="password" name="oldPassword" placeholder="&nbsp;" />
            <label class="placeholder" for="oldPassword">Altes Passwort</label>
          </div>
          @if (newPasswordForm.get("oldPassword")?.errors?.["wrongPassword"]) {
            <small class="error">Falsches Passwort</small>
          }
          <div class="inputfeld">
            <input formControlName="password" type="password" name="password" placeholder="&nbsp;" />
            <label class="placeholder" for="password">Neues Passwort</label>
          </div>
          <div class="inputfeld">
            <input formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="&nbsp;" />
            <label class="placeholder" for="confirmPassword">Neues Passwort wiederholen</label>
          </div>
          @if (newPasswordForm.get("confirmPassword")?.errors?.["passwordsDontMatch"]) {
            <small class="error">Passwörter stimmen nicht überein</small>
          }
          <button class="btntext" type="submit">Passwort aktualisieren</button>
        </form>
      </div>
    </div>
  </div>
</section>
