// var(--primary-color): #e81a99;//Pink
// var(--primary-color): #1a73e8;//blau

:root {
  --helligkeit: 50%;
  --hsl-color: 195, 100%;
  --primary-color: hsl(var(--hsl-color), var(--helligkeit));
  --primary-variant-darker: hsl(var(--hsl-color),
      calc(var(--helligkeit) - 20%));
  --primary-variant-brighter: hsl(var(--hsl-color),
      calc(var(--helligkeit) + 20%));
  --primary-variant-much-brighter: hsl(var(--hsl-color),
      calc(var(--helligkeit) + 25%));
  --hintergrund: rgb(248, 248, 248);
  --schrift: rgb(0, 0, 0);
  // --hintergrund-inputfeld: rgb(241, 241, 241);
  --hintergrund-inputfeld: hsl(var(--hsl-color),
  calc(var(--helligkeit) + 45%));
  --hintergrund-variant: hsl(var(--hsl-color),
  calc(var(--helligkeit) + 45%));
  --hintergrund-variant-darker: hsl(var(--hsl-color),
  calc(var(--helligkeit) + 35%));
}

.darkmode {
  --primary-variant-darker: hsl(var(--hsl-color),
      calc(var(--helligkeit) + 25%));
  --primary-variant-much-brighter: hsl(var(--hsl-color),
      calc(var(--helligkeit) - 20%));
  --hintergrund: rgb(22, 24, 28);
  --schrift: rgb(238, 238, 238);
  // --hintergrund-inputfeld: rgb(15, 15, 15);
  --hintergrund-inputfeld: hsl(var(--hsl-color),
  calc(var(--helligkeit) - 45%));
  --hintergrund-variant: hsl(var(--hsl-color),
  calc(var(--helligkeit) - 38%));
  --hintergrund-variant-darker: hsl(var(--hsl-color),
  calc(var(--helligkeit) - 45%));
}