<aside #sidemenu [ngClass]="{'sidemenuOpen': sidemenuS.DashboaardSidemenuIsOpen}">
    <nav>
        <div class="closingDiv" [ngClass]="{'sidemenuOpen': sidemenuS.DashboaardSidemenuIsOpen}"
            (click)="sidemenuS.toggleDashboardSidemenu()"></div>
        <ul>
            @for(page of pages; track page.route) {
            <li [ngClass]="{'active': isActive(page.route)}">
                <a [routerLink]="page.route">{{ page.name }}</a>
            </li>
            }
        </ul>
    </nav>
</aside>