<div>
  <div id="ende">
    <h2>Geschafft!</h2>
    <span>Sie sind fast fertig.</span>
    <span>Vergessen Sie nicht den Antrag zu unterschreiben</span>
    <div class="status" [class.fehlerstatus]="pdfError">
      <p>{{ statusMessage }}</p>
      <div>{{ pdfError?.error.message }}</div>
      @if (pdfError) {
        <button class="btntext" (click)="generatePdf()">erneut versuchen</button>
      }
    </div>
    <div class="kachelcontainer">
      <button class="btnoutlined kachel" [disabled]="odt == null" (click)="downloadOdt()">
        <fa-icon [icon]="faFileLines"></fa-icon>
        <span>.odt</span>
        @if (odtIsLoading) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        }
      </button>
      <button class="btnoutlined kachel" [disabled]="pdf == null" (click)="openPdf()">
        <fa-icon [icon]="faFilePdf"></fa-icon>
        <span>.pdf</span>
        @if (pdfIsLoading) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        }
      </button>
    </div>
  </div>
</div>
