#ende {
  display: flex;
  flex-direction: column;

  span {
    margin-top: 0.5em;
  }

  .kachelcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
  }

  .kachel {
    width: 16em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: unset;

    fa-icon {
      font-size: 64px;
      margin: 1rem;
    }

    span {
      font-size: 0.9em;
    }

    app-progress-spinner {
      margin-left: 1em;
    }
  }

  .status {
    margin-top: 1rem;
    border-left: 2px solid var(--primary-color);
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--hintergrund-inputfeld);
  }

  .fehlerstatus div {
    color: red;
  }
}
