<div class="Zuständigkeiten">
  <figure class="Zuständigkeit">
    <div class="iconContainer">
      <fa-icon class="icon" [icon]="faUniversity"></fa-icon>
    </div>
    <figcaption>
      <p>
        <b>Sachlich</b> zuständig ist das Amtsgericht (als&nbsp;Grundbuchamt).
        <a href="https://dejure.org/gesetze/GBO/1.html" target="_blank">§ 1 Abs. 1 S. 1 GBO</a>
      </p>
    </figcaption>
  </figure>
  <figure class="Zuständigkeit">
    <div class="iconContainer">
      <fa-icon class="icon" [icon]="faMapMarkedAlt"></fa-icon>
    </div>
    <figcaption>
      <p>
        <b>Örtlich</b> zuständig ist das Amtsgericht in dessen Bezirk das Grundstück liegt.
        <a href="https://dejure.org/gesetze/GBO/1.html" target="_blank">§ 1 Abs. 1 S. 2 GBO</a>
      </p>
      <p>
        Prüfen, in welchem Amtsgerichtsbezirk ein Grundstück liegt, können Sie im
        <a href="https://www.justizadressen.nrw.de/de/justiz/gericht?ang=grundbuch&plz=&ort=" target="_blank"><u>Justizportal</u></a
        >.
      </p>
    </figcaption>
  </figure>
</div>
