<app-dashboard-tile tileTitle="Settings">
    <div class="content">
        @if(settings){
        <ul>
            <li>
                <input type="checkbox" id="deleteGeneratedFilesAfterResponse" #deleteGeneratedFilesAfterResponse
                    [checked]="settings.deleteGeneratedFilesAfterResponse"
                    (change)="changeSetting('deleteGeneratedFilesAfterResponse', deleteGeneratedFilesAfterResponse.checked)">
                <label for="deleteGeneratedFilesAfterResponse">Lösche Dateien sofort nach dem Response</label>
            </li>
        </ul>
        } @else {
        <app-progress-spinner [endless]="true"></app-progress-spinner>
        }
    </div>
</app-dashboard-tile>