:host {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li {
  padding: 0.5em;
  background-color: var(--hintergrund-variant);
  border-radius: 16px;
}

app-progress-spinner {
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-style: italic;
}

.error {
  color: red;
}
