<section>
    <button (click)="authS.logout()" class="logoutBtn btnicon" title="Abmelden"><fa-icon
            [icon]="faArrowRightFromBracket"></fa-icon></button>
    <div class="sectiondiv">
        <p>{{greeting}}</p>
        <div class="tiles">
            <app-antragsliste-tile></app-antragsliste-tile>
            <app-antragsarten-tile></app-antragsarten-tile>
            <app-cookies-tile></app-cookies-tile>
            <app-migration-tile></app-migration-tile>
            <app-settings-tile></app-settings-tile>
            <app-logger-tile></app-logger-tile>
        </div>
    </div>
</section>