@defer (hydrate on interaction) {
  <app-header></app-header>
}
<section>
  <div class="sectiondiv">
    <h1>Impressum</h1>
    <span>Rico Angenvoort</span>
    <span>Pommernstraße 48</span>
    <span>34497 Korbach</span>
    <a href="mailto:MailvonRico@gmail.com">MailvonRico&#64;gmail.com</a>
    <br />
    <a href="https://ricoswebsite.com/" target="_blank">ricoswebsite.com</a>
    <p>Dies ist eine private Webseite, welche keine staatliche Behörde repräsentiert.</p>
  </div>
</section>
@defer (hydrate on viewport) {
  <app-footer></app-footer>
}
