<app-artikel nextSite="/grundbuchrecht/abteilung3">
    <section>
        <div class="sectiondiv">
            <h1>Abteilung II <br>(Lasten und Beschränkungen)</h1>
            <p>
                In Abteilung II werden die Lasten und Beschränkungen an den
                Grundstücken eingetragen.
            </p>
            <p>Übersicht der möglicher Eintragungen:</p>
            <ul>
                <li>
                    Dienstbarkeiten
                    <ul>
                        <li>Dauerwohnrecht</li>
                        <li>Grunddienstbarkeiten</li>
                        <li>beschränkte persönliche Dienstbarkeiten</li>
                        <li>Nießbrauchrecht</li>
                    </ul>
                </li>
                <li>Vorkaufsrecht</li>
                <li>Reallasten</li>
                <li>Altenteil</li>
                <li>Vormerkungen</li>
                <li>Erbbaurecht</li>
                <li>
                    Verfügungsbeschränkungen
                    <ul>
                        <li>Nacherbenvermerk</li>
                        <li>Testamentsvollstreckervermerk</li>
                        <li>Zwangsversteigerungsvermerk</li>
                        <li>Zwangsverwaltungsvermerk</li>
                        <li>Insolvenzvermerke</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section id="dauerwohnrecht">
        <hr>
        <div class="sectiondiv">
            <h2>Dauerwohnrecht</h2>
            <blockquote class="infokasten">„Das Recht, eine bestimmte, in sich abgeschlossene Wohnung unter
                Ausschluss des Eigentümers zu nutzen“ § 31 I WEG</blockquote>
            <p>Das Recht entsteht durch</p>
            <ul>
                <li>Einigung zwischen dem Eigentümer und dem Berechtigen und</li>
                <li>Eintragung ins Grundbuch</li>
            </ul>
            <p>Zur Löschung ist die Löschungsbewilligung des Berechtigen nötig. § 875 BGB</p>
            <p>Die Löschung erfolgt nur auf Antrag.</p>
            <p>Das Dauerwohnrecht kann vererbt und veräußert werden.</p>
            <p>Es kann für beschränkte oder unbeschränkte Zeit vereinbart werden.</p>
        </div>
    </section>
    <section id="dauernutzungsrecht">
        <hr>
        <div class="sectiondiv">
            <h2>Dauernutzungsrecht</h2>
            <blockquote class="infokasten">„Das Recht, nicht zu Wohnzwecken dienende Räume unter Ausschluss des
                Eigentümers zu nutzen“ § 31 Abs. 2 WEG</blockquote>
            <p>Das Recht entsteht durch</p>
            <ul>
                <li>Einigung zwischen dem Eigentümer und dem Berechtigen und</li>
                <li>Eintragung ins Grundbuch</li>
            </ul>
            <p>Zur Löschung ist die Löschungsbewilligung des Berechtigen nötig. § 875 BGB</p>
            <p>Die Löschung erfolgt nur auf Antrag.</p>
            <p>Das Dauernutzungsrecht kann vererbt und veräußert werden.</p>
            <p>Es kann für beschränkte oder unbeschränkte Zeit vereinbart werden.</p>
        </div>
    </section>
    <section id="grunddienstbarkeit">
        <hr>
        <div class="sectiondiv">
            <h2>Grunddienstbarkeit</h2>
            <blockquote class="infokasten">„Recht zugunsten des jeweiligen Eigentümers eines anderen Grundstücks.“</blockquote>
            <p>Das Recht wird nicht auf den Namen einer Person eingetragen, sondern
                zugunsten eines Grundstücks. Daher heißt es <u>Grund</u>dienstbarkeit.
                (Subjektiv-dingliche Rechte)</p>
            <p>Es sind immer zwei Grundstücke betroffen:</p>
            <ul>
                <li>das herrschende Grundstücke (begünstigt)</li>
                <li>das dienende Grundstück (belastet)</li>
            </ul>
            <p>Der Berechtigte kann sich mit Übertragung des herrschenden Grundstücks
                ändern.</p>
            <p>Die Grunddienstbarkeit ist auf Dauer ausgelegt.</p>
            <p>Sie muss für das herrschende Grundstück vorteilhaft sein. § 1019 BGB</p>
            <p>Eine Grunddienstbarkeit kann den Eigentümer nicht zum positiven
                Handeln verpflichten.</p>
            <p>Grunddienstbarkeiten entstehen durch Einigung + Eintragung.</p>
            <p>Zur Löschung ist die Löschungsbewilligung des Berechtigen nötig.</p>
            <p>Es gibt drei Grundtypen von Grundienstbarkeiten:</p>
            <ul>
                <li>Benutzung (z.B. Geh- und Wegerecht)</li>
                <li>Unterlassung (z.B. Unterlassung einer Bebauung)</li>
                <li>Duldung (z.B. Abgase einer Fabrik)</li>
            </ul>
            <h3>Benutzung</h3>
            <p>Das dienende Grundstück darf in einzelnen Beziehungen benutzt werden.</p>
            <p>Beispiele:</p>
            <ul>
                <li>Wegerecht</li>
                <li>Wasserleitungsrecht</li>
                <li>Stromleitung</li>
                <li>Abwasserleitung</li>
            </ul>
            <p>Ein Wegerecht ist für Grundstücke sinnvoll, welche keine direkte
                Anbindung zur Straße haben und nur über ein fremdes Grundstück
                erreicht werden können.</p>
            <h3>Unterlassung</h3>
            <p>Auf dem dienenden Grundstück dürfen gewisse Handlungen nicht
                vorgenommen werden.</p>
            <p>Beispiele:</p>
            <ul>
                <li>Bebauungsverbot</li>
                <li>Aussichtsrecht</li>
                <li>Wettbewerbsverbot</li>
            </ul>
            <p>Zum Beispiel kann ein Hotel eine Grunddienstbarkeit bestellen, die den
                Eigentümers des Nachbargrundstücks eine Bebauung untersagt, um den
                Gästen die schöne Aussicht zu erhalten.</p>
            <h3>Duldung</h3>
            <p>Dem Eigentümer des dienenden Grundstücks wird von der Ausübung
                eines bestimmten Rechts ausgeschlossen.</p>
            <p>Beispiele:</p>
            <ul>
                <li>Duldung von Abgase einer Fabrik</li>
                <li>Duldung von Lärm</li>
            </ul>
            <p>(Ausgeschlossen wird das Recht zu klagen)</p>
        </div>
    </section>
    <section id="beschränktepersönlichedienstbarkeit">
        <hr>
        <div class="sectiondiv">
            <h2>Beschränke persönliche Dienstbarkeit</h2>
            <blockquote class="infokasten">„Recht zugunsten einer individuell bestimmten natürlichen oder juristischen
                Person“ § 1090 BGB</blockquote>
            <p>Die berechtigte Person wird mit Namen eingetragen.</p>
            <p>Inhaltlich oft wie bei der Grunddienstbarkeit.</p>
            <p>Eine beschränkte persönliche Dienstbarkeit ist nicht übertragbar und nicht
                vererbbar. § 1092 I S.1 BGB </p>
            <p>Beispiele:</p>
            <ul>
                <li>Wegerecht</li>
                <li>Leitungsrecht</li>
                <li>Wohnungsrecht</li>
            </ul>
            <p>Beispiel: Ein Stromanbieter möchte Strommasten auf einem Grundstück
                errichten. Eine Grunddienstbarkeit ist nicht sinnvoll, da das Recht nicht
                einem Grundstückseigentümer zustehen soll, sondern dem Stromanbieter.
                Es kann eine beschränkte persönliche Dienstbarkeit für den Stromanbieter
                eingetragen werden.</p>
            <p>Das Recht erlischt wenn:</p>
            <ul>
                <li>der Berechtigte verzichtet</li>
                <li>der Berechtigte verstirbt</li>
            </ul>
            <p>Zur Löschung ist die Löschungsbewilligung oder die Sterbeurkunde
                erforderlich.</p>
            <p>Die Löschung erfolgt auf Antrag.</p>
            <h3>Wohnungsrecht:</h3>
            <p>Als beschränkte persönliche Dienstbarkeit kann ein Wohnungsrecht
                eingetragen werden. Das Wohnungsrecht ist von dem Dauerwohnrecht zu
                unterscheiden.</p>
            <table>
                <tbody>
                    <tr>
                        <th>Wohnungsrecht § 1093 BGB</th>
                        <th>Dauerwohnrecht § 31 WEG</th>
                    </tr>
                    <tr>
                        <td>Nutzung nur durch eingetragene
                            Person</td>
                        <td>Vermietung möglich</td>
                    </tr>
                    <tr>
                        <td>Nicht veräußerbar</td>
                        <td>veräußerbar</td>
                    </tr>
                    <tr>
                        <td>Nicht vererbbar</td>
                        <td>vererbbar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section id="nießbrauchrecht">
        <hr>
        <div class="sectiondiv">
            <h3>Nießbrauchrecht</h3>
            <blockquote class="infokasten">„Das persönliche Recht zur vollen Nutzung einer Sache“ §§ 1030 ff. BGB</blockquote>
            <p>Das Recht entsteht durch Einigung und Eintragung.</p>
            <p>Rechte des Nießbrauchers:</p>
            <ul>
                <li>Anspruch auf natürliche Früchte des Grundstücks
                    (z.B. Erzeugnisse der Landwirtschaft)</li>
                <li>Anspruch auf Rechtsfrüchte des Grundstücks
                    (z.B. Mieteinnahmen)</li>
            </ul>
            <p>Pflichten des Nießbrauchers:</p>
            <ul>
                <li>Instandhaltung der Sache und Beibehaltung der wirtschaftlichen
                    Bestimmung §§ 1041, 1036 Abs. 2 BGB</li>
                <li>Tragen der Lasten der Sache
                    (z.B. Versicherungskosten, Steuern) §§ 1045, 1047 BGB</li>
            </ul>
            <p>Das Nießbrauchrecht ist nicht übertragbar und nicht vererbbar. § 1059 S.1 BGB</p>
            <p>Die Ausübung kann einem andern überlassen werden.</p>
            <p>Das Recht erlischt wenn:</p>
            <ul>
                <li>der Berechtigte verzichtet</li>
                <li>der Berechtigte verstirbt</li>
            </ul>
            <p>Zur Löschung ist die Löschungsbewilligung oder die Sterbeurkunde
                erforderlich.</p>
            <p>Die Löschung erfolgt auf Antrag.</p>
        </div>
    </section>
    <section id="vorkaufsrecht">
        <hr>
        <div class="sectiondiv">
            <h2>Vorkaufsrecht</h2>
            <blockquote class="infokasten">„Der Berechtigte ist dem Eigentümer gegenüber zum Vorkauf berechtigt“ § 1094 BGB
            </blockquote>
            <p>Für eine bestimmte Person oder einem jeweiligen Eigentümer möglich.</p>
            <p>Entsteht durch Einigung und Eintragung.</p>
            <p>Beschränkt auf dem ersten Verkaufsfall, mehrere Verkaufsfälle oder alle
                Verkaufsfälle. § 1097 BGB</p>
            <p>Das Vorkaufsrecht gilt nicht für Schenkung, Erbschaft oder
                Zwangsversteigerung.</p>
        </div>
    </section>
    <section id="reallast">
        <hr>
        <div class="sectiondiv">
            <h2>Realast</h2>
            <blockquote class="infokasten">
                „Wiederkehrende Leistungen aus dem Grundstück“ § 1105 Abs. 1 BGB
            </blockquote>
            <p>Für eine bestimmte Person oder einem jeweiligen Eigentümer möglich.</p>
            <p>Die zu erbringenden Leistungen können sein:</p>
            <ul>
                <li>Naturalien</li>
                <li>Geldzahlungen</li>
                <li>Handlungen (Instandhaltung von Gebäuden, Pflegeleistungen)</li>
            </ul>
            <p>Es müssen stets wiederkehrende Leistungen geschuldet sein.</p>
            <p>Der Eigentümer haftet mit dem Grundstück und persönlich.</p>
        </div>
    </section>
    <section id="altenteil">
        <hr>
        <div class="sectiondiv">
            <h2>Altenteil</h2>
            <p>Ist gesetzlich nicht definiert.</p>
            <p>Besteht in der Regel aus mehreren Rechten:</p>
            <ul>
                <li>Wohnungsrecht</li>
                <li>Nießbrauch</li>
                <li>Reallasten</li>
            </ul>
            <p>Das Altenteil hat Bedeutung insbesondere im Bereich der Hofübergabe:
                Der Bauer, der den Hof an seinen Nachfolger übergibt, lässt sich ein
                Altenteilsrecht einräumen.</p>
            <p>Reallast und Wohnungsrecht können im Grundbuch aber auch als ein
                Recht eingetragen werden, unter der Bezeichnung „Altenteil“ oder
                „Leibgedinge“.</p>
        </div>
    </section>
    <section id="vormerkung">
        <hr>
        <div class="sectiondiv">
            <h2>Vormerkung</h2>
            <blockquote class="infokasten">„Sicherung des Anspruchs auf Einräumung oder Aufhebung eines Rechts.“ § 883 BGB
            </blockquote>
            <p>Auch zur Sicherung eines künftigen Anspruchs zulässig.</p>
            <p>Eine Verfügung, die nach der Eintragung der Vormerkung über das
                Grundstück getroffen wird, ist insoweit unwirksam, als sie den Anspruch
                verhindern oder beeinträchtigen würde.</p>
            <p>Beispiel:</p>
            <ul>
                <li>Eigentumsübertragungsvormerkung</li>
            </ul>
        </div>
    </section>
    <section id="erbbaurecht">
        <hr>
        <div class="sectiondiv">
            <h2>Erbbaurecht</h2>
            <blockquote class="infokasten">„Das Recht ein Bauwerk auf oder unter einem fremden Grundstück zu
                errichten oder zu haben“ § 1 ErbbauRG</blockquote>
            <p>Das Erbbaurecht ist ein grundstückgleiches Recht. Es kann genauso wie
                ein Grundstück veräußert oder belastet werden. Es ist somit auch
                vererbbar.</p>
            <p>Es wird ein besonderes Grundbuchblatt angelegt. Das Erbaugrundbuch.
                Im Erbbaugrundbuch wird das Erbbaurecht im Bestandsverzeichnis
                eingetragen und im Grundstücksgrundbuch in Abteilung II.</p>
            <p>Bei einem Erbbaurecht gibt es zwei Eigentümer:</p>
            <ul>
                <li>den des Grundstücks und</li>
                <li>den des Gebäudes</li>
            </ul>
            <p>Entsteht durch Einigung und Eintragung.</p>
            <p>Das Erbbaurecht kann auf Dauer oder für eine bestimmte Zeit bestellt
                werden. Üblich sind oft 99 Jahre.</p>
            <p>Das Eigentum am Bauwerk steht dem Erbbauberechtigten zu.</p>
            <p>Es können Abmachungen getroffen werden hinsichtlich</p>
            <ul>
                <li>des Bauwerks (z.B. Baustil)</li>
                <li>der Lastentragung (Grundsteuer usw.)</li>
                <li>eines Anspruchs auf Rückübertragung des Erbbaurechts gegen
                    Vergütung (Heimfall)</li>
                <li>das Recht auf Erneuerung des Erbbaurechts nach dessen Ablauf</li>
                <li>einer Verkaufsverpflichtung des Grundstückseigentümers an den
                    jeweiligen Erbbauberechtigten</li>
            </ul>
            <p>§ 2 ErbbauRG</p>
            <p>Es besteht die Möglichkeit, dass sich der Eigentümer die Zustimmung zum
                Verkauf oder zur Belastung des Erbbaurechts vorbehält. § 5 ff. ErbbauRG</p>
            <p>Das Erbbaurecht erlischt</p>
            <ul>
                <li>Aufhebung und Eintragung oder</li>
                <li>Ablauf der vereinbarten Dauer</li>
            </ul>
            <p>Das Bauwerk geht dann in das Eigentum des Grundstückseigentümers
                über. Dieser hat den Erbbauberechtigten eine angemessene
                Entschädigung für das Bauwerk zu zahlen.</p>
            <p>Statt der Entschädigung kann aber auch die Verlängerung des
                Erbbaurechts angeboten werden. Lehnt der Erbbauberechtigte die
                Verlängerung ab, verliert er den Entschädigungsanspruch. § 27 ErbbauRG</p>
            <p>Bei Löschung des Erbbaurechts wird das dazugehörige Erbbaugrundbuch
                geschlossen.</p>
            <p>Beispiel: Die Stadt möchte das die Innenstadt belebt ist. Statt
                Grundstücke zu verkaufen, kann die Stadt Erbbaurechte bestellen und
                bleibt Eigentümer des Grundstücks und kann das Erbbaurecht auslaufen
                lassen. Tiefgaragen sind auch ein passendes Beispiel.</p>
        </div>
    </section>
    <section id="nacherbenvermerk">
        <hr>
        <div class="sectiondiv">
            <h2>Nacherbenvermerk</h2>
            <blockquote class="infokasten">„Ein Vorerbe ist nur Erbe auf Zeit. Nach Beendigung der Vorerbschaft wird
                der Nacherbe der Erbe des Erblassers“</blockquote>
            <p>Der Erblasser kann mit einer Verfügung von Todes wegen die Vor- und
                Nacherbschaft anordnen.</p>
            <p>Der Vorerbe kann nur mit Zustimmung des Nacherben über das
                Grundstück verfügen.</p>
            <p>Der Nacherbenvermerk wird gleichzeitig mit der Eintragung des Vorerben
                als Eigentümer eingetragen.</p>
            <p>Die Eintragung des Vermerks soll den gutgläubigen Erwerb des
                Grundstücks verhindern.</p>
        </div>
    </section>
    <section id="testamentsvollstreckervermerk">
        <hr>
        <div class="sectiondiv">
            <h2>Testaments&shy;vollstrecker&shy;vermerk</h2>
            <p>Im Testament kann der Erblasser festlegen, dass ein
                Testamentsvollstrecker eingesetzt wird.</p>
            <p>Der Testamentsvollstrecker fungiert als Treuhänder gegenüber dem Erben.
                Seine Aufgabe ist vor allem die ordnungsgemäße Verwaltung des
                Nachlasses.</p>
            <p>Dem Testamentsvollstrecker steht die Verwaltungs- und
                Verfügungsbefugnis über den Nachlass zu. § 2205 BGB</p>
            <p>Der Erbe kann über die Nachlassgegenstände, die der Verwaltung
                unterliegen nicht verfügen § 2211 Abs. 1 BGB</p>
            <p>Der Vermerk dient dazu, das eingeschränkte Verfügungsrecht des
                Eigentümers deutlich zu machen und gutgläubigen Erwerb Dritter
                auszuschließen.</p>
        </div>
    </section>
    <section id="zwangsversteigerungsvermerk">
        <hr>
        <div class="sectiondiv">
            <h2>Zwangs&shy;versteigerungs&shy;vermerk</h2>
            <p>Mit Wirksamwerden des Anordnungsbeschlusses des
                Vollstreckungsgerichts entsteht ein relatives Verfügungsverbot
                (Veräußerungsverbot).</p>
            <p>Sämtliche Verfügungen des Schuldners über sein Grundeigentum sind
                dem betreibenden Gläubiger gegenüber unwirksam.</p>
            <p>§§ 23, 20 I ZVG, 135 , 136 BGB</p>
            <p>Dieses relative Verfügungsverbot muss unverzüglich ins Grundbuch
                eingetragen werden, da sonst ein Dritter das betroffene Grundstück
                gutgläubig erwerben könnte.</p>
            <p>Das Vollstreckungsgericht ersucht das Grundbuchamt um die Eintragung. § 19 Abs. 1 ZVG</p>
            <p>Das Ersuchen ersetzt den sonst notwendigen Antrag und die Bewilligung.</p>
            <p>Es gibt zwei Zeitpunkte an dem das Verfügungsverbot wirksam werden
                kann:</p>
            <ul>
                <li>Zeitpunkt der
                    Zustellung des Anordnungs-
                    beschlusses an den Schuldner
                    § 22 Abs. 1 S. 1 ZVG</li>
                <li>Zeitpunkt des
                    Eingang des Ersuchens
                    beim Grundbuchamt
                    § 22 Abs. 1 S. 2 ZVG</li>
            </ul>
            <p>Der frühere Zeitpunk ist entscheidend.</p>
            <p>Das Grundbuchamt ist verpflichtet dem Vollstreckungsgericht mitzuteilen,
                was über Wohnort und Wohnung der eingetragenen Beteiligten und
                deren Vertreter bekannt ist.
                Die Vorschrift wird durch die Übersendung des Wohnungsblattes erfüllt. § 19 Abs. 2 ZVG</p>
            <p>Das Grundbuchamt ist außerdem verpflichtet dem Vollstreckungsgericht
                von allen Eintragungen im Grundbuch beglaubigte Abschriften der
                Urkunden zu übersenden.
                Diese Vorschrift wird in der Praxis dadurch erfüllt, dass die Grundakte bei
                Bedarf vom Vollstreckungsgericht angefordert wird. § 19 Abs. 2 ZVG</p>
            <p>Das Vollstreckungsgericht ist von allen folgenden Eintragungen zu
                benachrichtigen. § 19 Abs. 2 ZVG</p>
        </div>
    </section>
    <section id="zwangsverwaltungsvermerk">
        <hr>
        <div class="sectiondiv">
            <h2>Zwangs&shy;verwaltungs&shy;vermerk</h2>
            <p>Statt der Zwangsversteigerung kann auch die Zwangsverwaltung
                erfolgen.</p>
            <p>Bei der Zwangsverwaltung sollen die Forderungen des Gläubigers durch
                die Erträge des Grundstücks erfüllt werden.</p>
            <p>Beispiel:
                Das Grundstück ist vermietet und der Gläubiger kann die Miteinnahmen
                abgreifen.</p>
            <p>Die Zwangsverwaltung kann den Gläubiger auch davor schützen, dass ein
                unfähiger oder unwilliger Schuldner das Zugriffsobjekt durch
                unzureichende Bewirtschaftung im Wert mindert oder sonst wie
                beeinträchtigt.</p>
        </div>
    </section>
    <section id="insolvenzvermerk">
        <hr>
        <div class="sectiondiv">
            <h2>Insolvenzvermerk (Eröffnungsvermerk)</h2>
            <blockquote class="infokasten">„Absolute Grundbuchsperre. Verfügungen des Schuldners dürfen nicht
                mehr eingetragen werden“</blockquote>
            <p>Dieses Verfügungsbeschränkung muss unverzüglich ins Grundbuch
                eingetragen werden.</p>
            <p>Mit der Insolvenzeröffnung verliert der Schuldner die Verfügungsgewalt
                über sein Vermögen. § 80 InsO</p>
            <p>Das Verwaltungs- und Verfügungsrecht geht auf den Insolvenzverwalter
                über. § 56 InsO</p>
        </div>
    </section>
    <section id="verfügungsbeschränkung">
        <hr>
        <div class="sectiondiv">
            <h2>Verfügungs&shy;beschränkung nach der InsO</h2>
            <p>Schon vor der Eröffnung des Insolvenzverfahrens hat das Insolvenzgericht
                alle Maßnahmen zu treffen, um eine Vermögensverschlechterung beim
                Schuldner zu Lasten der Gläubiger zu verhindern. § 21 InsO</p>
            <p>Hierfür kommt in Frage</p>
            <ul>
                <li>eine Verfügungsbeschränkung oder</li>
                <li>ein Verfügungsverbot</li>
            </ul>
        </div>
    </section>
</app-artikel>