<app-artikel>
    <section>
        <div class="sectiondiv">
            <h1>Abteilung I (Eigentümer)</h1>
            <p>Die Abteilung I enthält alle Angaben zum Eigentum an einem Grundstück. <br>
                Folgende Daten des Eigentümers werden eingetragen:</p>
            <p>Bei natürlichen Personen:</p>
            <ul>
                <li>Vorname</li>
                <li>Familenname</li>
                <li>Geburtsdatum</li>
                <li>Geburtsname</li>
            </ul>
            <p> Bei juristischen Personen:</p>
            <ul>
                <li>Name/Firma</li>
                <li>Sitz</li>
                <li>Registergericht</li>
                <li>Registerblatt</li>
            </ul>
        </div>
    </section>
    <section id="eigentumsarten">
        <hr>
        <div class="sectiondiv">
            <h2>Eigentumsarten</h2>
            <h3>Alleineigentum</h3>
            <p>Das Eigentum steht <b>einer</b> Person zu (natürlich oder juristisch). Diese ist der
                <b>Alleineigentümer.</b>
            </p>
            <div class="infokasten"><b>Merke:</b> Der Alleineigentümer kann über die Grundstücke frei verfügen.
            </div>
            <h3>Miteigentum</h3>
            <p>Das Eigentum steht <b>mehreren</b> Personen gleichzeitig zu. Diese sind <b>Miteigentümer</b><br><br>
                Es gibt zwei Formen des Miteigentums:
            </p>
            <ul>
                <li>Bruchteilseigentum</li>
                <li>Gesamthandseigentum</li>
            </ul>
            <h4>Bruchteilseigentum</h4>
            <p>Jedem Miteigentümer gehört ein ideeller Bruchteil.<br><br>Die häufigste Form des Bruchteilseigentums
                sind Eheleute, die je zu einem
                halben Bruchteil im Grundbuch eingetragen sind.</p>
            <div class="infokasten"><b>Merke:</b> Bei Bruchteilseigentum kann jeder Miteigentümer über seinen
                Bruchteil frei verfügen. § 747 S. 1 BGB</div>
            <p>Jeder Bruchteil kann frei veräußert oder belastet werden.</p>
            <p> Ein Ehepartner kann seinen ideellen Bruchteil theoretisch verkaufen.
                In der Praxis möchte jedoch selten jemand einen ideellen Bruchteil kaufen,
                da der andere Bruchteil den anderen Ehepartner weiterhin gehört.
            </p>
            <p> Die Eigentümer können ihren Grundbesitz auch zusammen veräußern.</p>
            <p> Über den gemeinschaftlichen Gegenstand im Ganzen können die Teilhaber
                nur gemeinschaftlich verfügen. § 747 S. 2 BGB</p>
            <p> Gibt es im Streitfall keine Einigung, kann ein Miteigentümer eine
                Zwangsversteigerung zur Aufhebung der Gemeinschaft beantragen.</p>
            <h4>Gesamthandseigentum</h4>
            <p>Das Eigentum ist an die Gemeinschaft gebunden.</p>
            <p>Die häufigste Form des Gesamthandseigentum ist die Erbengemeinschaft.</p>
            <div class="infokasten"><b>Merke:</b> Bei Gesamthandseigentum können die Eigentümer nur zusammen
                über das Eigentum verfügen.</div>
            <p>Beispiele für Gesamthandseigentum:</p>
            <ul>
                <li>Erbengemeinschaft</li>
                <li>Personengeselleschaften (GbR, oHG, KG)</li>
                <li>nicht rechtsfähiger Verein</li>
                <li>eheliche Gütergemeinschaft</li>
            </ul>
            <p>Die Eigentümer können den Grundbesitz nur zusammen belasten oder
                veräußern.</p>
            <p>Gibt es im Streitfall keine Einigung kann ein Eigentümer eine
                Teilungsversteigerung beantragen.
                (Zwangsversteigerung zur Aufhebung der Gemeinschaft)</p>
        </div>
    </section>
    <section id="grundstückserwerb">
        <hr>
        <div class="sectiondiv">
            <h2>Grundstückserwerb</h2>
            <p>Es gibt drei Arten Grundbesitz zu erwerben:</p>
            <ul>
                <li>Erwerb aufgrund <b>Rechtsgeschäft</b> (konstitutiv)
                    ➔ z.B. Kauf, Tausch oder Schenkung</li>
                <li>Erwerb aufgrund <b>Gesamtnachfolge</b> (deklaratorisch)
                    ➔ z.B. Erbfolge, Gütergemeinschaft</li>
                <li>Erwerb aufgrund
                    <b>Staatsaktes</b> (deklaratorisch)➔ z.B. Zwangsversteigerung, Enteignung
                </li>
            </ul>
            <h3>Rechtsgeschäft</h3>
            <p>Die Eigentumsübertragung erfolgt durch <b>Einigung (Auflassung) und Eintragung</b> ins Grundbuch.</p>
            <p>Verträge müssen notariel beurkundet werden. § 311 b BGB</p>
            <p>Beispiele:</p>
            <ul>
                <li>Kauf</li>
                <li>Tausch</li>
                <li>Schenkung</li>
            </ul>
            <p>Eintragungsgrundlage ist die Auflassungsurkunde.</p>
            <p>Die Auflassung kann auch in einem gerichtlichem Vergleich oder einem
                Insolvenzplan erklärt werden.</p>
            <p>Die Eintragung ins Grundbuch erlogt, wenn</p>
            <ul>
                <li>die Auflassung nachgewiesen ist § 20 GBO</li>
                <li>eine steuerliche Unbedenklichkeitsbescheinigung vorliegt</li>
                <li>eventuelle behördliche Genehmigungen vorliegen</li>
            </ul>
            <div class="infokasten">Erst die Eintragung im Grundbuch bewirkt den Eigentumsübergang. Die Eintragung
                ist rechtsbegründend (konstitutiv).</div>
            <h3>Gesamtnachfolge</h3>
            <p>Der Eigentumsübergang vollzieht sich außerhalb des Grundbuchs.
                Das Grundbuch wird unrichtig.
                Die Eintragung ist deklaratorisch (rechtsbekundend). Zu Gesamtnachfolge zählen die folgenden Fälle:
            </p>
            <h4>Erbfolge</h4>
            <p>Mit dem Tod eines Eigentümers wird das Grundbuch unrichtig. § 1922 BGB</p>
            <p>Die Grundbuchberichtigung kann aufgrund folgender Unterlagen erfolgen:</p>
            <ul>
                <li>Erbschein in Ausfertigung</li>
                <li>Notatrieles Testament/Erbvertrag nebst Eröffnungsprotokoll in beglaubigter Kopie</li>
            </ul>
            <p>Der Grundbuchberichtigungsantrag muss von einem Erben gestellt werden. Ein Testamentvollstrecker ist
                ebenfalls antragsberechtigt.</p>
            <p>Die Grundbuchberichtigung ist innerhalb von 2 Jahren nach dem Sterbefall gebührenfrei. Diese Frist
                ist nicht verlängerbar.</p>
            <p>Gebührenfrei ist die Eintragung der Erben oder die
                Erbauseinandersetzung.</p>
            <p>Eine Erbauseinandersetzung können die Erben bei einem Notar durch
                einen Erbauseinandersetzungsvertrag erzielen.</p>
            <h4>Gütergemeinschaft</h4>
            <p>Vereinbaren Ehegatten durch Vertrag Gütergemeinschaft, so wird das
                Vermögen gemeinschaftliches Vermögen beider Ehegatten (Gesamtgut). § 1416 BGB</p>
            <p>Die Grundbuchberichtigung erfolgt aufgrund</p>
            <ul>
                <li>Ehevertrag oder</li>
                <li>Auszug aus dem Güterrechtsregister</li>
            </ul>
            <h3>Staatsakt</h3>
            <p>Eine Eigentumsumschreibung kann auch aufgrund Staatsakt durch Enteignung oder Zwangsversteigerung
                erfolgen.</p>
            <h4>Enteignung</h4>
            <p>Dem Eigentümer wird sein Grundbesitz durch den Staat entwendet.</p>
            <p><b>Beispiel:</b> Bau einer Autobahn</p>
            <p>Die Enteignung ist nur zulässig, wenn</p>
            <ul>
                <li>der Wohl der Allgemeinheit es fordert</li>
                <li>der Enteignungszweck auf andere zumutbare Weise nicht erreicht
                    werden kann</li>
            </ul>
            <p>§ 87 Abs. 1 BauGB</p>
            <p>In der Praxis selten.</p>
            <h4>Zwangsversteigerung</h4>
            <p>Mit dem Zuschlag bei einer Zwangsversteigerung wird der Ersteher
                Eigentümer und das Grundbuch wird unrichtig. § 90 ZVG</p>
            <p>Die Grundbuchberichtigung folgt nach Beendigung des Verfahrens
                aufgrund eines Ersuchens des Vollstreckungsgerichts. § 130 ZVG</p>
            <p>Die Eintragung ist deklaratorisch (rechtsbekundend).</p>
            <p>Eintragungsgrundlage im Grundbuch ist der Zuschlagsbeschluss:</p>
            <p>Zu unterscheiden sind die:</p>
            <ul>
                <li>Zwangsversteigerung
                    <ul>
                        <li>wird von einem Gläubiger betrieben</li>
                        <li>der Gläubiger soll befriedigt werden</li>
                    </ul>
                </li>
                <li>Zwangsversteigerung zur Aufhebung der Gemeinschaft
                    <ul>
                        <li>wird von einem Eigentümer betrieben</li>
                        <li>dient zur Aufhebung von Gesamthandseigentum bei Uneinigkeit</li>
                        <li>wird auch Teilungsversteigerung genannt.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <!-- <div class="nächsteseite">
        <button onclick="location.href='../abteilung2/abteilung2.php'">Nächste Seite</button>
    </div> -->
</app-artikel>
