<app-header></app-header>
<section [ngClass]="{'darkmode': dl.darkmode.value}">
  <div class="formulardiv sectiondiv borderdiv">
    @if (step === 1) {
    <app-antragsteller></app-antragsteller>
    }
    @if (step === 2) {
    <app-grundstueck></app-grundstueck>
    }
    @if (step === 3) {
    <app-form-des-ausdrucks></app-form-des-ausdrucks>
    }
    @if (step === 4) {
    <app-berechtigtes-interesse></app-berechtigtes-interesse>
    }
    @if (step === 5) {
    <app-grundbuchamt>"</app-grundbuchamt>
    }
    @if (step === 6) {
    <app-antragsgenerierung></app-antragsgenerierung>
    }
  </div>
</section>
<app-footer></app-footer>