:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sectiondiv {
    max-width: 100em;
}

.antragsliste {
    list-style: none;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 25em);
    gap: 1em;
    padding: 0;

    app-antragsart-card {
        height: 100%;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
    }
}

.faq {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 4em;
}