<app-header></app-header>
<section>
    <div class="sectiondiv">
        <h1>Musteranträge</h1>
        <ul class="antragsliste">
            <li>
                <a routerLink="/antrag/grundbuchausdruck">
                    <h2>Auf Erteilung eines Grundbuchausdrucks</h2>
                </a>
                <p>Ihnen wird ein Ausdruck des kompletten Grundbuchs zugeschickt. Ein einfacher Grundbuchausdruck
                    kostet 10,00 €
                    <a routerLink="">weitere Informationen</a>
                </p>
                <a routerLink="/antrag/grundbuchausdruck" class="btn">Antrag ausfüllen</a>
            </li>
            <li>
                <a routerLink="/antrag/namensberichtigung">
                    <h2>Auf Namensberichtigung einer natürlichen Person</h2>
                </a>
                <p>Berichtigung des Namens, z.B. nach Eheschließung. Die Eheurkunde wird als Nachweis benötigt.</p>
                <a routerLink="/antrag/namensberichtigung" class="btn">Antrag ausfüllen</a>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>