:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectiondiv {
  margin-top: 2em;
}

.description {
  text-wrap: balance;
  text-align: center;
  hyphens: auto;
  margin: 0;
}

.antragsliste {
  list-style: none;
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 25em);
  gap: 1em;
  padding: 0;
  max-width: 80em;

  li {
    display: flex;

    app-antragsart-card {
      flex: 1;
    }
  }

  @media only screen and (max-width: 500px) {
    grid-template-columns: auto;
  }
}
