<app-header></app-header>
<section>
    <div class="sectiondiv">
        <h1>Grundbuch Musteranträge</h1>
        <p>Hier können Sie kostenlose Musterantrage für das Grundbuchamt ausfüllen und herunterladen.</p>
        <ul class="antragsliste">
            @for(antrag of antraege; track antrag.title) {
            <li>
                <app-antragsart-card [title]="antrag.title" [antragsRoute]="antrag.antragsRoute"
                    [mehrInfosRoute]="antrag.mehrInfosRoute ?? ''" [description]="antrag.description"
                    [gebuehr]="antrag.gebuehr ?? ''">
                </app-antragsart-card>
            </li>
            }
        </ul>
    </div>
</section>
<section>
    <div class="sectionDiv">
        <ul class="faq">
            <li>
                <app-accordion frage="Welche Kosten entstehen für einen Antrag?">
                    <p>Die Generierung der Anträge ist kostenlos. Beim Grundbuchamt können Gebühren entstehen. Sofern
                        der Antrag eine Gebühr auslöst, wird dies im Antragsformular erwähnt.</p>
                </app-accordion>
            </li>
            <li>
                <app-accordion frage="Wie erhalte ich den Musterantrag?">
                    <p>
                        Am Ende des Formulars kann eine .pdf oder .docx Datei heruntergeladen werden.
                    </p>
                </app-accordion>
            </li>
            <li>
                <app-accordion frage="Ist eine Registrierung erforderlich?">
                    <p>
                        Nein, die Musteranträge können ohne eine Registrierung ausgefüllt und heruntergeladen werden.
                    </p>
                </app-accordion>
            </li>
            <li>
                <app-accordion frage="Kann ich einen Antrag elektonisch beim Grundbuchamt einreichen?">
                    <p>
                        Die Anträge müssen per Post, per Fax oder persönlich vor Ort gestellt werden.
                    </p>
                </app-accordion>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>