:host {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  animation: grow 500ms;
  font-size: 0.9em;
  border-radius: 6px;
  background-color: var(--background-variant);

  &:hover {
    outline: 1px solid;
  }
}

.image-container {
  display: flex;

  img {
    height: 18em;
    object-fit: cover;
    object-position: top;
    width: 100%;
    filter: brightness(0.95);
  }

  &:focus-visible {
    outline: 5px solid var(--primary-color);
  }
}

.title {
  &:focus-visible h2 {
    outline: 1px solid;
    color: var(--font-color);
  }

  h2 {
    background-color: var(--primary-variant-much-brighter);
    word-wrap: break-word;
    padding: 0.5em;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 95%;
    left: 3em;
    text-wrap: balance;
  }
}

.content {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h3 {
  margin: 0;
  hyphens: auto;
  text-wrap: balance;
  color: var(--font-color);
}

p {
  line-height: 1.4em;
}

.gebuehr-container {
  margin-bottom: 0.5em;
  margin-top: auto;
  display: flex;
  flex-direction: column;

  .gebuehrenfrei {
    color: green;
  }

  .gebuehrenpflichtig {
    color: red;
  }
}

.erforderlicheUnterlagenDiv {
  background-color: var(--background-variant-darker);
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 12px;

  ul {
    margin: 1em 0;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: auto;

  a {
    flex: 1;
    font-size: 1.2em;
    white-space: nowrap;
  }
}
