:host {
    display: flex;
    background-color: var(--hintergrund);
    flex-direction: column;
    padding: 1.5em;
    border-radius: 12px;
    max-width: 30em;
    box-sizing: border-box;
    animation: grow 500ms;
    font-size: 0.9em;

    &:hover {
        background-color: var(--body);
        outline: 1px solid;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

h2,
h3 {
    margin: 0;
    overflow-wrap: break-word;
    color: var(--schrift);
}

a:has(h2) {
    font-size: clamp(1em, 3vw, 1.2em);
    text-decoration: none;

}

p {
    line-height: 1.4em;
}

.gebuehrDiv {
    margin-bottom: 0.5em;
    margin-top: auto;

    .gebuehrenfrei {
        color: green;
    }

    .gebuehrenpflichtig {
        color: red;
        white-space: nowrap;
    }
}

.erforderlicheUnterlagenDiv {
    background-color: var(--hintergrund-variant-darker);
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 12px;

    ul {
        margin: 1em 0;
    }
}

.buttonsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    a {
        flex: 1;
        font-size: 1.2em;
        white-space: nowrap;
    }
}