h2 {
  margin: 0;
  font-size: clamp(0.5rem, 7vw, 2rem);
  text-align: center;
}

/*Home-------------------------------------------------------------------------------*/

#home .sectiondiv {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 60% 40%;
}

.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(5em, 15vw, 10em);
  color: var(--primary-variant-brighter);
}

.darkmode .imgdiv {
  color: var(--schrift);
}

.titeluntertext {
  margin: 2% 0;
  font-size: clamp(12px, 1.5vw, 1rem);
}

.divTitel span {
  font-size: 0.8em;
}

h1 {
  margin: 0.5em 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 100%;
  text-align: unset;
  color: var(--schrift);
  overflow-wrap: break-word;
}

.labels {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1vw, 0.8rem);
  width: 100%;
  margin: 8px;

  span {
    margin: 0 1em;
  }

  .icon {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: var(--schrift);
  }
}

@media only screen and (max-width: 700px) {
  #home .sectiondiv {
    grid-template-columns: 70% 30%;
  }
}

#home p {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*Info-------------------------------------------------------------------------------*/

#info .Erklärung {
  margin-top: 1em;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.antragsartdiv {
  display: flex;
  margin-top: 0.5em;
  width: 85%;
  animation: grow 1s forwards;
}

.icondiv {
  font-size: clamp(0.8rem, 3vw, 2rem);
  padding: clamp(0.8rem, 5vw, 1.2rem);
  border-radius: 10px;
  background-color: var(--primary-variant-much-brighter);
  display: flex;
  text-align: center;
  justify-content: center;
}

.antragsarttext {
  text-align: center;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  margin-top: 0.5em;
}

.antragsart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.antragsartfalsch .icondiv {
  background-color: rgb(255, 118, 118);
}

#info .btnoutlined {
  font-size: 1.3em;
  margin: 1em;
}

/*Was steht im Grundbuch?-------------------------------------------------------------------------------*/

#GB-Inhalt .sectiondiv .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  justify-content: center;
  gap: 0.5em;
  max-width: 61em;
  margin-bottom: 1.5em;
}

.GB-Abschnitt {
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--hintergrund-variant-darker);
  border: 2px solid var(--primary-color);

  h3 {
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: var(--primary-variant-darker);
  }

  span {
    margin: 0.5em 0;
    text-align: center;
  }

  ul {
    margin: 0.3em 0;
    padding: 0;
    list-style: none;
  }
}

a.GB-Abschnitt {
  text-decoration: none;
  color: var(--schrift);

  &:hover {
    background-color: var(--hintergrund-variant);
  }
}

#FAQ {
  ul {
    margin-top: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
  }
}