@charset "UTF-8";
h2 {
  margin: 0;
  font-size: clamp(0.5rem, 7vw, 2rem);
  text-align: center;
}

/*Home-------------------------------------------------------------------------------*/
#home .sectiondiv {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 60% 40%;
}

.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(5em, 15vw, 10em);
  color: var(--primary-variant-brighter);
}

.darkmode .imgdiv {
  color: var(--schrift);
}

.homebanner {
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

.titeluntertext {
  margin: 2% 0;
  font-size: clamp(12px, 1.5vw, 1rem);
}

.divTitel span {
  font-size: 0.8em;
}

h1 {
  margin: 0.5em 0;
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 100%;
  text-align: unset;
  color: var(--schrift);
  overflow-wrap: break-word;
}

.homebanner button {
  margin-bottom: 2%;
}

.labels {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1vw, 0.8rem);
  width: 100%;
  margin: 8px;
}

.labels span {
  margin: 0 1em;
}

.labels .icon {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: var(--schrift);
}

@media only screen and (max-width: 700px) {
  #home .sectiondiv {
    grid-template-columns: 70% 30%;
  }
}
#home p {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*Info-------------------------------------------------------------------------------*/
#info .Erklärung {
  margin-top: 1em;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.antragsartdiv {
  display: flex;
  margin-top: 0.5em;
  width: 85%;
  transform: scale(0);
  animation: grow 1s forwards;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}
.icondiv {
  font-size: clamp(0.8rem, 3vw, 2rem);
  padding: clamp(0.8rem, 5vw, 1.2rem);
  border-radius: 10px;
  background-color: var(--primary-variant-much-brighter);
  display: flex;
  text-align: center;
  justify-content: center;
}

.antragsarttext {
  text-align: center;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  margin-top: 0.5em;
}

.antragsart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.antragsartfalsch .icondiv {
  background-color: rgb(255, 118, 118);
}

#info .sectiondiv .BannerMusterantrag {
  display: flex;
  align-items: center;
  margin: 1em;
}

/*Wo-------------------------------------------------------------------------------*/
.Zuständigkeiten {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Zuständigkeit {
  margin: 0.5em;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  max-width: 25rem;
}

.ErklärungZuständigkeit {
  border: 0.15rem solid var(--primary-variant-darker);
  border-top: 0;
  border-radius: 0 0 8px 8px;
  padding: 0.5em;
  font-size: 0.9em;
}

.icondivz {
  padding: 0.5em;
  font-size: 2em;
  background-color: var(--primary-variant-much-brighter);
  border: 0.15rem solid var(--primary-variant-darker);
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

/*Was steht im Grundbuch?-------------------------------------------------------------------------------*/
#GB-Inhalt .sectiondiv .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  justify-content: center;
  gap: 0.5em;
  max-width: 61em;
  margin-bottom: 1.5em;
}

.GB-Abschnitt {
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--hintergrund-variant-darker);
  border: 2px solid var(--primary-color);
}
.GB-Abschnitt h3 {
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: var(--primary-variant-darker);
}
.GB-Abschnitt span {
  margin: 0.5em 0;
  text-align: center;
}
.GB-Abschnitt ul {
  margin: 0.3em 0;
  padding: 0;
  list-style: none;
}

/*FAQ-------------------------------------------------------------------------------*/
.Fragen {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
}

app-accordion {
  margin-top: 0.8em;
}/*# sourceMappingURL=infopage-grundbuchausdruck.component.css.map */