:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.sectiondiv {
  flex-direction: row;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--hintergrund-variant);
  border-radius: 12px;
  padding: 1em;
  animation: grow 500ms;
  text-align: center;
  flex: 1 1 45em;
}

fa-icon {
  font-size: 3em;
  padding: 0.5em;
}
