.content {
    display: flex;
    flex-direction: column;
}

.chartToggle {
    cursor: pointer;
    color: var(--primary-variant-much-brighter);
    margin-left: auto;
}

#chart_div {
    width: 100%;
    margin-bottom: 0.5em;
}