:host {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    // height: 100%;
}

.chartToggle {
    cursor: pointer;
    color: var(--primary-variant-darker);
    margin-left: auto;
}

#chart_div {
    width: 100%;
    margin-bottom: 0.5em;
}

.chart {
    height: 100%;
}