:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin-top: 0;
}

.logoutBtn{
    position: absolute;
    top: 4em;
    right: 2em;
}

.tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--hintergrund-variant);
    border-radius: 8px 8px 0 0;
    width: clamp(300px, 90vw, 1000px);

    h2{
        margin: 0.5em;
        font-size: 1em;
    }

    .reloadBtn {
        padding: 0;
        margin: 0;
        height: 25px;
        width: 25px;
        text-align: center;
    }
}

.tableScrollContainer {
    border: 1px solid var(--hintergrund-variant);
    height: 500px;
    width: clamp(300px, 90vw, 1000px);
    overflow: auto;
    position: relative;
    resize: vertical;

    table {
        width: 100%;
        font-size: clamp(12px, 1vw, 16px);
    }

    th{
        text-align: left;
    }

    td{
        padding: 8px;
    }

    td:last-child{
        padding: 0;
    }
    tr:hover {
        background-color: var(--hintergrund-variant);
    }

    thead {
        position: sticky;
        top: 0;
        background-color: var(--hintergrund);
        z-index: 1;
    }

    table {
        margin-top: 0;
    }

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-variant-darker);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dropDown{
    position: relative;
    cursor: pointer;

    ul{
        visibility: collapse;
        padding: 0;
        position: absolute;
        left: -40px;
        top: 0;
        background-color: var(--hintergrund);
        border-radius: 6px;
        
        li{
            padding: 10px;
        }
        border: 1px solid var(--primary-variant-much-brighter);
    }

    ul:hover{
        background-color: var(--hintergrund-variant-darker);
    }
}

details>summary {
    list-style: none;
    cursor: pointer;
    z-index: 2;
}

details>summary::-webkit-details-marker {
    display: none;
}