:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.tableContainer {
    height: 300px;
    width: clamp(300px, 90vw, 1000px);
    overflow: auto;
    position: relative;
    resize: both;
    border-radius: 8px;

    table {
        width: 100%;
    }

    td{
        text-align: center;
    }

    td:last-child{
        padding: 0;
    }
    tr:hover {
        background-color: var(--hintergrund-variant);
    }

    thead {
        position: sticky;
        top: 0;
        background-color: var(--hintergrund);
        z-index: 1;
    }

    table {
        margin-top: 0;
    }

    button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        height: 30px;
        width: 30px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-variant-darker);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dropDown{
    position: relative;
    cursor: pointer;

    ul{
        visibility: collapse;
        padding: 0;
        position: absolute;
        left: -40px;
        top: 0;
        background-color: var(--primary-variant-much-brighter);
        border-radius: 6px;
        
        li{
            padding: 10px;
        }
    }

    ul:hover{
        background-color: var(--primary-color);
    }
}

details>summary {
    list-style: none;
    cursor: pointer;
    z-index: 2;
}

details>summary::-webkit-details-marker {
    display: none;
}