<app-header></app-header>
<section>
  <button (click)="authS.abmelden()" class="logoutBtn btnicon"><fa-icon
      [icon]="faArrowRightFromBracket"></fa-icon></button>
  <div class="sectiondiv">
    <h1>Dashboard</h1>

    <!-- Server Logfile und Cookies löschen -->
    <div>
      <a class="btntext" (click)="loggerS.getLogFile()">öffne Server Logfile</a>
      <button (click)="loggerS.deleteLogFile()" class="btnicon">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
      <button class="btntext" (click)="cs.deleteAllCookies()">Cookies löschen</button>
    </div>

    <!-- Tabellen ControllHeader -->
    <div class="tableHeader">
      <h2>Generierte Anträge</h2>
      <span>Anträge: {{uploadsdS.uploadsData && uploadsdS.uploadsData.totalFiles}} </span>
      <button class="reloadBtn">
        <fa-icon [icon]="faRotateRight" (click)="reloadFiles()">Neuladen</fa-icon>
      </button>
      <button class="btntext" (click)="deleteFolder()">alle löschen</button>
    </div>

    <div class="tableScrollContainer" (scroll)="scroll($event.target)">
      <table>
        <thead>
          <tr>
            <th>Dateiname</th>
            <th>Antragsart</th>
            <th>Datum</th>
            <th>docx</th>
            <th>pdf</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (file of files; track file) {
          <tr>
            <td>{{file.fileName}}</td>
            <td>{{file.antragsart}}</td>
            <td>{{file.uploadDate}}</td>
            <td>@if (file.docxFile != '') {
              <a class="btnicon" (click)="uploadsdS.getFile(file.fileName, 'docx')"><fa-icon
                  [icon]="faCircleDown"></fa-icon></a>
              } @else {
              <fa-icon [icon]="faCircleExclamation" class="btnicon notFound"></fa-icon>
              }
            </td>
            <td>@if (file.pdfFile != '') {
              <a class="btnicon" target="_blank" (click)="uploadsdS.getFile(file.fileName, 'pdf')"><fa-icon
                  [icon]="faArrowUpRightFromSquare"></fa-icon></a>
              } @else {
              <fa-icon [icon]="faCircleExclamation" class="btnicon notFound"></fa-icon>
              }
            </td>
            <td (click)="clickOnDropdown($event.target)" class="dropDown">
              <fa-icon [icon]="faEllipsisVertical" class="btnicon"></fa-icon>
              <ul class="dropDownMenu">
                <li (click)="deleteFile(file.fileName)">löschen</li>
              </ul>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</section>