<section>
  <div class="content-spacer">
    <div class="grid">
      <div class="chartContainer">
        <h2>Antragsarten</h2>
        @if (uploadsS.statisticResourceMonth.isLoading()) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        } @else {
          @if (uploadsS.statisticResourceMonth.error()) {
            <app-error-display [error]="uploadsS.statisticResourceMonth.error()"></app-error-display>
          } @else {
            <app-google-chart chartType="PieChart" [chartData]="gChartsS.uploadTypsChartRows()" [chartOptions]="gChartsS.getPieChartOptions()">
            </app-google-chart>
          }
        }
      </div>
      <div class="chartContainer">
        <h2>Antragsarten</h2>
        @if (uploadsS.statisticResourceMonth.isLoading()) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        } @else {
          @if (uploadsS.statisticResourceMonth.error()) {
            <app-error-display [error]="uploadsS.statisticResourceMonth.error()"></app-error-display>
          } @else {
            <app-google-chart chartType="ColumnChart" [chartData]="gChartsS.uploadTypsChartRows()" [chartOptions]="gChartsS.getBarChartOptions()">
            </app-google-chart>
          }
        }
      </div>
      <div class="chartContainer">
        <h2>Anzahl der Anträge (Monat)</h2>
        @if (uploadsS.statisticResourceMonth.isLoading()) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        } @else {
          @if (uploadsS.statisticResourceMonth.error()) {
            <app-error-display [error]="uploadsS.statisticResourceMonth.error()"></app-error-display>
          } @else {
            <app-google-chart chartType="LineChart" [chartData]="gChartsS.uploadsTimeframeChartRowsMonth()" [chartOptions]="lineChartOptionsMonth">
            </app-google-chart>
          }
        }
      </div>
      <div class="chartContainer">
        <h2>Anzahl der Anträge (Woche)</h2>
        @if (uploadsS.statisticResourceWeek.isLoading()) {
          <app-progress-spinner [endless]="true"></app-progress-spinner>
        } @else {
          @if (uploadsS.statisticResourceWeek.error()) {
            <app-error-display [error]="uploadsS.statisticResourceWeek.error()"></app-error-display>
          } @else {
            <app-google-chart chartType="LineChart" [chartData]="gChartsS.uploadsTimeframeChartRowsWeek()" [chartOptions]="lineChartOptionsWeek">
            </app-google-chart>
          }
        }
      </div>
    </div>
  </div>
</section>
