.grid {
  display: grid;
  flex: 1;
  gap: 1em;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .chartContainer:first-child {
      grid-column-end: auto;
    }
  }
}

section {
  margin-top: 3em;
}

.controls {
  display: flex;
  align-items: center;

  button.icon {
    height: 3em;
    width: 3em;
  }
}

.chartContainer {
  height: 18em;
  width: 100%;
  display: flex;
  flex-direction: column;

  app-progress-spinner {
    margin: auto auto;
  }

  &:first-child {
    grid-column-end: span 2;
  }
}

app-google-chart {
  width: 100%;
  flex: 1;
}
