<section>
    <div class="sectiondiv">
        <div class="grid">
            <div class="chartContainer">
                <app-google-chart chartType="PieChart" [chartData]="chartData" [chartOptions]="pieChartOptions">
                </app-google-chart>
            </div>
            <div class="chartContainer">
                <app-google-chart chartType="LineChart" [chartData]="chartData2" [chartOptions]="lineChartOptions">
                </app-google-chart>
            </div>
        </div>
    </div>
</section>