.grid {
  display: grid;
  flex: 1;
  gap: 1em;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

section {
  margin-top: 3em;
}

.chartContainer {
  height: 18em;
  width: 100%;
  display: flex;
  flex-direction: column;

  app-progress-spinner {
    margin: auto auto;
  }
}

app-google-chart {
  width: 100%;
  flex: 1;
}
