.content-spacer {
  animation: grow 500ms;
  overflow: hidden;
  padding-top: 0;

  @media only screen and (max-width: 700px) {
    padding: 0;
  }
}

form {
  width: 100%;

  .controls {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
  }

  #userRoleID input {
    width: 3em;
  }

  .description-label {
    display: block;
    text-align: center;
  }

  app-progress-spinner {
    margin: 5em auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5em;
  }

  .description-container {
    display: flex;
    flex-direction: column;
  }

  .formRow1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 3em;
      height: 3em;
    }
  }
}
