<section>
    <div class="sectiondiv">
        <div class="controls">
            <select [(ngModel)]="selectedUserRoleOption" (change)="loadUserRole(selectedUserRoleOption?.userRoleID)">
                @for(userRole of userRolesOptions; track userRole.userRoleID) {
                <option [ngValue]="userRole">{{userRole.name}}</option>
                }
            </select>
            <button class="btnicon" title="Neue Userrolle erstellen"><fa-icon [icon]="faPlus"></fa-icon></button>
            <button>Speichern</button>
        </div>
        <div>{{selectedUserRoleOption?.description}}</div>
        <form>
            <ul class="feature-list">
                @for(permission of permissions; track permission) {
                <li>
                    <h2>
                        {{userRoleS.featuresNameMapping[permission.feature]}}
                    </h2>
                    <ul>
                        @for(action of permission.allowedActions; track action) {
                        <li>
                            <input type="checkbox" [checked]="getBooleanPermission(permission.feature, action)">
                            <span>{{userRoleS.actionsNameMapping[action]}}</span>
                        </li>
                        }
                    </ul>
                </li>
                }
            </ul>
        </form>
    </div>
</section>