<section>
    <div class="sectiondiv">
        <div class="controls">
            <div [formGroup]="form" class="inputfeld" id="userRoleID">
                <input formControlName="userRoleID" type="number" id="userRoleIDinput" name="userRoleID"
                    placeholder="&nbsp;">
                <label class="placeholder" for="userRoleIDinput">ID</label>
            </div>
            <select [(ngModel)]="selectedUserRoleOption" (change)="loadUserRole(selectedUserRoleOption?.userRoleID)">
                @for(userRole of userRolesOptions; track userRole.userRoleID) {
                <option [ngValue]="userRole">{{userRole.name}}</option>
                }
            </select>
            <button class="btnicon" title="Neue Userrolle erstellen" (click)="createNewUserRole()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <button (click)="saveUserRole()">Speichern</button>
            <button class="btnicon" title="Userrolle löschen" (click)="deleteUserRole()">
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
        </div>
        <div>{{selectedUserRoleOption?.description}}</div>
        <form [formGroup]="form">
            <div class="inputfeld" id="userroleName">
                <input formControlName="name" type="text" id="userroleNameinput" name="userroleName" required
                    spellcheck="false" placeholder="&nbsp;">
                <label class="placeholder" for="userroleNameinput">Name der Userrolle</label>
            </div>
            <div class="descriptiondiv">
                <label for="description">Beschreibung:</label>
                <textarea formControlName="description" name="description" id="description"></textarea>
            </div>
            <ul class="feature-list" formGroupName="features">
                @for(permission of userRoleS.allPermissions; track permission) {
                <li formGroupName="{{permission.feature}}">
                    <h2>
                        {{userRoleS.featuresNameMapping[permission.feature]}}
                    </h2>
                    <ul>
                        @for(action of permission.allowedActions; track action) {
                        <li>
                            <input id="{{action}}" type="checkbox" formControlName="{{action}}">
                            <label for="{{action}}">{{userRoleS.actionsNameMapping[action]}}</label>
                        </li>
                        }
                    </ul>
                </li>
                }
            </ul>
        </form>
    </div>
</section>