<section>
    <div class="sectiondiv">
        <select [(ngModel)]="selectedUserRoleOption" (change)="loadUserRole(selectedUserRoleOption?.userRoleID)">
            @for(userRole of userRolesOptions; track userRole.userRoleID) {
            <option [ngValue]="userRole">{{userRole.name}}</option>
            }
        </select>
        <div>{{selectedUserRoleOption?.description}}</div>
        <form>
            <ul>
                @for(permission of permissions; track permission) {
                <li>
                    <h2>
                        {{userRoleS.featuresNameMapping[permission.feature]}}
                    </h2>
                    <ul>
                        @for(action of permission.allowedActions; track action) {
                        <li>
                            <input type="checkbox" [checked]="getBooleanPermission(permission.feature, action)">
                            <span>{{userRoleS.actionsNameMapping[action]}}</span>
                        </li>
                        }
                    </ul>
                </li>
                }
            </ul>
        </form>
    </div>
</section>