<app-dashboard-tile tileTitle="Server Logs">
    <div class="content">
        @if(error) {
        <p class="error">Fehler beim Laden der Logs</p>
        } @else {
        @if(logs) {
        <div class="controlls">
            <a class="btntext" (click)="loggerS.openLogFileInNewTab()">öffne Logfile</a>
            <button (click)="deleteLogFile()" class="btnicon" title="Logfile leeren">
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
        </div>
        }
        @if(logs === undefined) {
        <app-progress-spinner [endless]="true"></app-progress-spinner>
        }
        @if (logs === null) {
        <p>Keine Logs vorhanden</p>
        }
        @if(logs) {
        <div class="tableContainer">
            <table>
                <thead>
                    <tr>
                        <th>Zeit</th>
                        <th>Log</th>
                    </tr>
                </thead>
                <tbody>
                    @for (log of logs; track log) {
                    <tr>
                        <td>{{log.timestamp}}</td>
                        <td>{{log.message}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        }
    </div>
</app-dashboard-tile>