:host {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

app-progress-spinner {
  margin: 0 auto;
  width: 100%;
}

app-error-display {
  margin: 0 auto;
}

.responseText {
  word-break: break-word;
  margin: 1em 0;
  background-color: var(--background-variant);
  padding: 0.5em;
  border-radius: 16px;
}
