.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

app-progress-spinner {
    margin: 0 auto;
    width: 100%;
}

.responseText {
    word-break: break-word;
    margin: 1em 0;
    background-color: var(--hintergrund-variant);
    padding: .5em;
    border-radius: 16px;
}