<app-dashboard-tile tileTitle="Migration">
    @if(responseText){ <p class="responseText">{{responseText}}</p>}
    @if(isLoading) {
    <app-progress-spinner [endless]="true"></app-progress-spinner>
    }
    <button (click)="migrateFromAntragToUploadinfo()">Von "Antrag" zu "Upload" JSON</button>
    <p>Migration der Struktur der gespeicherten Uploadinfos der Anträge. Es werden nicht mehr alle Daten aus dem
        Formular gespeichert, sondern nur die, die im Dashboard angezeigt werden.</p>
</app-dashboard-tile>