<app-header></app-header>
<section [ngClass]="{'darkmode': dl.darkmode.value}">
  <div class="formulardiv sectiondiv borderdiv">
    @switch (fs.currentComponent) {
    @case ('antragsteller') {
    <app-antragsteller></app-antragsteller>
    }
    @case ('grundstueck') {
    <app-grundstueck></app-grundstueck>
    }
    @case ('form-des-ausdrucks') {
    <app-form-des-ausdrucks></app-form-des-ausdrucks>
    }
    @case ('berechtigtes-interesse') {
    <app-berechtigtes-interesse></app-berechtigtes-interesse>
    }
    @case ('grundbuchamt') {
    <app-grundbuchamt>"</app-grundbuchamt>
    }
    @case ('hinweis') {
    <app-hinweis></app-hinweis>
    }
    @case ('antragsgenerierung') {
    <app-antragsgenerierung></app-antragsgenerierung>
    }}
  </div>
</section>
<app-footer></app-footer>