:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 4vh;
  top: -40em;
  position: relative;
  animation: slideInFromTop 700ms forwards;
}

@keyframes slideInFromTop {
  100% {
    top: 0em;
  }
}

.sectiondiv {
  align-items: unset;
  max-width: 50em;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

h2 {
  margin: 0.3em 0;
}

h1 {
  text-align: center;
  background-color: var(--hintergrund-variant);
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: clamp(1.2rem, 2vw, 2rem);
  text-wrap: pretty;
}