section {
  animation: slide-in-from-top 700ms forwards;
  margin-top: 3em;
}

app-login-card {
  @media only screen and (max-width: 500px) {
    min-width: unset;
    width: 100%;
  }
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 1.5em;
  fill: var(--primary-color);
  filter: drop-shadow(10px 8px 6px var(--primary-variant-much-brighter));
  animation: wobble 1s infinite;
}
