section {
    animation: slideInFromTop 700ms forwards;
    margin-top: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--hintergrund-variant);
    border-radius: 8px;
}

.description {
    background-color: var(--primary-variant-much-brighter);
    padding: 0.5em;
    border-radius: 8px;
}

h1 {
    margin: 0;
}

.error {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}