<app-header></app-header>
<section>
    <div class="sectiondiv">
        <app-login-card [faIcon]="faLockOpen" title="Passwort vergeben" imagePath="/images/liegenschaftskarte.avif" [description]="description">
            <form [formGroup]="form" (ngSubmit)="changePassword()">
                @if (form.get("oldPassword")?.errors?.["wrongPassword"]) {
                    <span class="error">Falsches Passwort</span>
                }
                <div class="inputfeld">
                    <input formControlName="oldPassword" #oldPassword type="password" id="oldPassword" name="oldPassword" autocomplete="current-oldPassword" spellcheck="false" placeholder="&nbsp;" />
                    <label class="placeholder" for="oldPassword">Initialpasswort</label>
                </div>
                <div class="inputfeld">
                    <input formControlName="password" type="password" id="password" name="password" autocomplete="current-password" spellcheck="false" placeholder="&nbsp;" />
                    <label class="placeholder" for="password">Neues Passwort</label>
                </div>
                <div class="inputfeld">
                    <input
                        formControlName="confirmPassword"
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        autocomplete="current-confirmPassword"
                        spellcheck="false"
                        placeholder="&nbsp;"
                    />
                    <label class="placeholder" for="confirmPassword">Neus Passwort wiederholen</label>
                </div>
                @if (form.get("confirmPassword")?.errors?.["passwordsDontMatch"]) {
                    <span class="error">Passwörter stimmen nicht überein</span>
                }
                <button class="btnoutlined" type="submit">Passwort vergeben</button>
            </form>
        </app-login-card>
    </div>
</section>
