<aside #sidebar class="navigationlinks">
    <div #closingdiv (click)="close()" class="closingDiv"></div>
    <div #sidebarbutton class="sidebarbutton" (click)="open()">
        <fa-icon class="icon" [icon]="faBars"></fa-icon>
    </div>
    <ul class="themenliste">
        <li class="thema" [ngClass]="{'themaangeklickt': router.url.includes('/grundbuchrecht/einleitung')}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a routerLink="/grundbuchrecht/einleitung">Einleitung Grundbuchrecht</a>
            </div>
            <ul>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Definition Grundbuch</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/einleitung" fragment="aufbau">Aufbau des Grundbuchs</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/einleitung" fragment="zuständigkeiten">Zuständigkeiten</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/einleitung" fragment="öffentlicherglaube">Öffentlicher Glaube</a>
                </li>
            </ul>
        </li>
        <li class="thema" [ngClass]="{'themaangeklickt': router.url.includes('/grundbuchrecht/bestandsverzeichnis')}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a routerLink="/grundbuchrecht/bestandsverzeichnis">Das Bestandsverzeichnis</a>
            </div>
            <ul>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Defintion
                        Grundstück</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflurstück">Definition
                        Flurstück</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitionflur">Definition
                        Flur</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongemarkung">Definition
                        Gemarkung</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis"
                        fragment="liegenschaftskarte">Liegenschaftskarte</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="zerlegung">Zerlegung</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="verschmelzung">Verschmelzung</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="teilung">Teilung</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="vereinigung">Vereinigung</a>
                </li>
            </ul>
        </li>
        <li class="thema" [ngClass]="{'themaangeklickt': router.url.includes('/grundbuchrecht/abteilung1')}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a routerLink="/grundbuchrecht/abteilung1">Abteilung I</a>
            </div>
            <ul>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung1" fragment="eigentumsarten">Eigentumsarten</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung1" fragment="grundstückserwerb">Grundstückserwerb</a>
                </li>
            </ul>
        </li>
        <li class="thema" [ngClass]="{'themaangeklickt': router.url.includes('/grundbuchrecht/abteilung2')}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a routerLink="/grundbuchrecht/abteilung2">Abteilung II</a>
            </div>
            <ul>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="dauerwohnrecht">Dauerwohnrecht</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="dauernutzungsrecht">Dauernutzungsrecht</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="grunddienstbarkeit">Grunddienstbarkeiten</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2"
                        fragment="beschränktepersönlichedienstbarkeit">beschränkte
                        persönliche Dienstbarkeiten</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="nießbrauchrecht">Nießbrauchrecht</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="vorkaufsrecht">Vorkaufsrecht</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="reallast">Reallast</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="altenteil">Altenteil</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="vormerkung">Vormerkungen</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="erbbaurecht">Erbbaurecht</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="nacherbenvermerk">Nacherbenvermerk</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2"
                        fragment="testamentsvollstreckervermerk">Testamentsvollstreckervermerk</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2"
                        fragment="zwangsversteigerungsvermerk">Zwangsversteigerungsvermerk</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2"
                        fragment="zwangsverwaltungsvermerk">Zwangsverwaltungsvermerk</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="insolvenzvermerk">Insolvenzvermerke</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung2" fragment="verfügungsbeschränkung">Verfügungsbeschränkung
                        nach der InSO</a>
                </li>
            </ul>
        </li>
        <li class="thema" [ngClass]="{'themaangeklickt': router.url.includes('/grundbuchrecht/abteilung3')}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a routerLink="/grundbuchrecht/abteilung3">Abteilung III</a>
            </div>
            <ul>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung3" fragment="grundschuld">Grundschuld</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung3"
                        fragment="eigentümergrundschuld">Eigentümergrundschuld</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung3" fragment="rentenschuld">Rentenschuld</a>
                </li>
                <li class="unterthema">
                    <a routerLink="/grundbuchrecht/abteilung3" fragment="hypothek">Hypothek</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>