<aside #sidebar class="navigationlinks">
    <div #closingdiv (click)="close()" class="closingDiv"></div>
    <div #sidebarbutton class="sidebarbutton" (click)="open()">
        <fa-icon class="icon" [icon]="faBars"></fa-icon>
    </div>
    <ul class="themenliste">
        <li class="thema" *ngFor="let thema of themen" [ngClass]="{'themaangeklickt': router.url.includes(thema.routerLink)}">
            <div>
                <fa-icon (click)="dropdown($event)" class="icon" [icon]="faSortDown"></fa-icon>
                <a [routerLink]="thema.routerLink">{{ thema.name }}</a>
            </div>
            <ul>
                <li class="unterthema" *ngFor="let unterthema of thema.unterthemen">
                    <a [routerLink]="thema.routerLink" [fragment]="unterthema.fragment">{{ unterthema.name }}</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
