h2 {
  margin: 0;
  font-size: clamp(0.5rem, 6vw, 2rem);
  text-align: center;
}

.btn-outlined {
  font-size: 1.3em;
}

.textAndImage {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;

  div {
    flex: 1 1 50%;
  }

  img {
    flex: 1 1 40%;
    max-height: 28em;
    object-fit: contain;
  }
}

#wie {
  align-items: flex-start;

  h2 {
    width: 100%;
  }
}
