<app-dashboard-tile>
    <div class="content">
        <h2>Antragsarten/Anzahl</h2>
        @if(error){ <app-error-display [error]="error"></app-error-display> }
        @else {
        @if(!statistic) {
        <app-progress-spinner [endless]="true"></app-progress-spinner>
        }@else {
        <div class="scrollContainer">
            <table>
                <thead>
                    <tr>
                        <th>
                            <span>Antragsart</span>
                            <button class="reloadBtn">
                                <fa-icon [icon]="faRotateRight" (click)="loadStatistic()" title="Neuladen"></fa-icon>
                            </button>
                        </th>
                        <th>Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    @for(s of statistic; track s) {
                    <tr>
                        <td class="antragsart">{{ s.antragsart }}</td>
                        <td>{{ s.anzahl }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        }
    </div>
</app-dashboard-tile>