<app-artikel>
    <section id="definitiongrundbuch">
        <div class="sectiondiv">
            <h1>Einleitung Grundbuchrecht</h1>
            <h2>Definition Grundbuch</h2>
            <p class="infokasten">„Das Grundbuch ist ein <b>beschränkt öffentliches</b> Register, in welchem
                die <b>Grundstücke</b>, die hieran bestehenden <b>Eigentumsverhältnisse</b> und
                die damit verbundenen <b>Rechte</b> und <b>Belastungen</b> verzeichnet sind.“</p>
            <p>Für jeden Ort wird je Eigentumsverhältnis ein Grundbuch geführt. (Personalfolium) <br>
                § 4 Abs. 1 GBO, § 2 Abs. 1 GBO
            </p>
            <b>Beispiel:</b>
            <span>Max <b class="variant">Alleineigentum</b> in Musterstadt = ein Grundbuch in Musterstadt</span>
            <span>Max <b class="variant">Alleineigentum</b> in Beispielhausen = ein Grundbuch in Beispielhausen
            </span>
            <br>
            <span>Max und Erika <b class="variant">Miteigentum</b> in Musterstadt = ein weiteres Grundbuch in
                Musterstadt</span>
        </div>
    </section>
    <section id="aufbaudesgrundbuchs">
        <hr>
        <Div class="sectiondiv">
            <h2>Aufbau des Grundbuchs</h2>
            <span>Ein Grundbuch hat immer die folgende Struktur:</span>
            <ul id="aufbau">
                <li><b>Aufschrift</b><br><span>(Titelblatt/Deckblatt)</span></li>
                <li><b>Bestandsverzeichnis</b><br><span>(Grundstücke)</span></li>
                <li><b>Abteilung I</b><br><span>(Eigentümer)</span></li>
                <li><b>Abteilung II</b><br><span>(Lasten und Beschränkungen)</span></li>
                <li><b>Abteilung III</b><br><span>(Grundschulden, Hypotheken und Rentenschulden)</span></li>
            </ul>
        </Div>
    </section>
    <section id="zuständigkeiten">
        <hr>
        <div class="sectiondiv">
            <h2>Zuständigkeiten</h2>
            <div class="Zuständigkeiten">
                <div class="Zuständigkeit">
                    <div class="icondivz">
                        <fa-icon class="icon" [icon]="faUniversity"></fa-icon>
                    </div>
                    <div class="ErklärungZuständigkeit">
                        <span><b>Sachlich</b> zuständig ist das Amtsgericht (als&nbsp;Grundbuchamt).</span>
                    </div>
                </div>
                <div class="Zuständigkeit">
                    <div class="icondivz">
                        <fa-icon class="icon" [icon]="faMapMarkedAlt"></fa-icon>
                    </div>
                    <div class="ErklärungZuständigkeit">
                        <div><b>Örtlich</b> zuständig ist das Amtsgericht in dessen Bezirk das Grundstück liegt.
                        </div>
                        <br>
                        <div>Prüfen, in welchem Amtsgerichtsbezirk ein Grundstück liegt, können Sie <a
                                href="https://www.justizadressen.nrw.de/de/justiz/gericht?ang=grundbuch&plz=&ort="
                                target="_blank"><u>hier</u></a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="öffentlicherglaube">
        <hr>
        <div class="sectiondiv">
            <h2>Öffentlicher Glaube</h2>
            <span>Das Grundbuch genießt öffentlichen Glauben.</span>
            <span class="infokasten">„Jeder gutgläubiger Erwerber kann sich auf die Angaben im Grundbuch
                verlassen, auch wenn diese nicht der Richtigkeit entsprechen.“</span>
            <p>Es gilt die Vermutung, dass ein im Grundbuch eingetragenes Recht
                demjenigen zusteht, zu dessen Gunsten es eingetragen ist. Zugleich wird
                vermutet, dass ein im Grundbuch gelöschtes
                Recht nicht mehr besteht.</p>
            <span class="rot">Gilt nicht, wenn man anderweitige Kenntnisse hat.</span>
            <span>Der öffentliche Glaube des Grundbuchs dient dem
                Schutz des Rechtsverkehrs.</span>
        </div>
    </section>
    <div class="nächsteseite">
        <button onclick="location.href='../bestandsverzeichnis/bestandsverzeichnis.php'">Nächste Seite</button>
    </div>
    
</app-artikel>