<app-artikel title="Einleitung Grundbuchrecht" nextSite="/grundbuchrecht/bestandsverzeichnis">
  <section id="definitiongrundbuch">
    <div class="content-spacer">
      <h1>Einleitung Grundbuchrecht</h1>
      <h2>Definition Grundbuch</h2>
      <blockquote>
        „Das Grundbuch ist ein <b>beschränkt öffentliches</b> Register, in welchem die
        <a routerLink="/grundbuchrecht/bestandsverzeichnis" fragment="definitiongrundstück">Grundstücke</a>, die hieran bestehenden
        <a routerLink="/grundbuchrecht/abteilung1">Eigentumsverhältnisse</a> und die damit verbundenen <b>Rechte</b> und
        <b>Belastungen</b> verzeichnet sind.“
      </blockquote>
      <p>
        Für jeden Ort wird je Eigentumsverhältnis ein Grundbuch geführt. (Personalfolium) <br />
        <a href="https://dejure.org/gesetze/GBO/4.html" target="_blank">§§ 4 Abs. 1, </a>
        <a href="https://dejure.org/gesetze/GBO/2.html" target="_blank">2 Abs. 1 GBO</a>
      </p>
      <b>Beispiel:</b>
      <span
        >Max <a routerLink="/grundbuchrecht/abteilung1" fragment="eigentumsarten">Alleineigentum</a> in Musterstadt = ein Grundbuch in
        Musterstadt</span
      >
      <span
        >Max <a routerLink="/grundbuchrecht/abteilung1" fragment="eigentumsarten">Alleineigentum</a> in Beispielhausen = ein Grundbuch in
        Beispielhausen
      </span>
      <br />
      <span
        >Max und Erika <a routerLink="/grundbuchrecht/abteilung1" fragment="eigentumsarten">Miteigentum</a> in Musterstadt = ein weiteres Grundbuch in
        Musterstadt</span
      >
    </div>
  </section>
  <section id="aufbau">
    <hr />
    <Div class="content-spacer">
      <h2>Aufbau des Grundbuchs</h2>
      <span>Ein <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> hat immer die folgende Struktur:</span>
      <ul class="aufbauList">
        <li>
          <div><b>Aufschrift</b><span>(Titelblatt/Deckblatt)</span></div>
        </li>
        <li>
          <a routerLink="/grundbuchrecht/bestandsverzeichnis"> <b>Bestandsverzeichnis</b><span>(Grundstücke)</span> </a>
        </li>
        <li>
          <a routerLink="/grundbuchrecht/abteilung1"> <b>Abteilung I</b><span>(Eigentümer)</span> </a>
        </li>
        <li>
          <a routerLink="/grundbuchrecht/abteilung2"> <b>Abteilung II</b><span>(Lasten und Beschränkungen)</span> </a>
        </li>
        <li>
          <a routerLink="/grundbuchrecht/abteilung3"> <b>Abteilung III</b><span>(Grundschulden, Hypotheken und Rentenschulden)</span> </a>
        </li>
      </ul>
    </Div>
  </section>
  @defer (hydrate never) {
    <section id="zuständigkeiten">
      <hr />
      <div class="content-spacer">
        <h2>Zuständigkeiten</h2>
        <app-sachliche-und-ortliche-zustaendigkeit></app-sachliche-und-ortliche-zustaendigkeit>
      </div>
    </section>
  }
  <section id="öffentlicherglaube">
    <hr />
    <div class="content-spacer">
      <h2>Öffentlicher Glaube</h2>
      <span>Das <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> genießt öffentlichen Glauben.</span>
      <blockquote>
        „Jeder gutgläubiger Erwerber kann sich auf die Angaben im
        <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> verlassen, auch wenn diese nicht der Richtigkeit
        entsprechen.“
      </blockquote>
      <p>
        Es gilt die Vermutung, dass ein im
        <a routerLink="/grundbuchrecht/einleitung" fragment="definitiongrundbuch">Grundbuch</a> eingetragenes Recht demjenigen zusteht, zu dessen
        Gunsten es eingetragen ist. Zugleich wird vermutet, dass ein im Grundbuch gelöschtes Recht nicht mehr besteht.
      </p>
      <span class="red">Gilt nicht, wenn man anderweitige Kenntnisse hat.</span>
      <p>Der öffentliche Glaube des Grundbuchs dient dem Schutz des Rechtsverkehrs.</p>
      <a href="https://dejure.org/gesetze/BGB/892.html" target="_blank">§ 892 Abs. 1 BGB</a>
    </div>
  </section>
</app-artikel>
