.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

app-progress-spinner {
    margin: 0 auto;
    display: block;
}

h2 {
    margin-top: 0;
}

.btntext {
    margin-top: auto;
}