<app-dashboard-tile>
    <div class="content">
        @if(totalFiles === undefined || latestFile === undefined) {
        <h2>Generierte Anträge</h2>
        <app-progress-spinner [endless]="true"></app-progress-spinner>
        }@else {
        <h2>Generierte Anträge: {{totalFiles}}</h2>
        @if(latestFile) {
        <b>Neuster Antrag vom {{latestFile.uploadDate}}:</b>
        <div class="latestfile">
            <span>{{latestFile.antragsart}} </span>
            <a (click)="uploadsS.getFile(latestFile.uploadID, 'pdf')" class="btnicon" title="Pdf öffnen">
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
        </div>
        }
        }
        <a routerLink="/dashboard/antragsliste" class="btntext">Alle Anträge anzeigen</a>
    </div>
</app-dashboard-tile>