<app-dashboard-tile>
    <div class="content" #content>
        @if(error){
        <h2>Generierte Anträge</h2>
        <p class="error">Fehler beim Laden der Antragsliste</p>
        }
        @else {
        @if(totalFiles === undefined || latestFile === undefined) {
        <app-progress-spinner [endless]="true"></app-progress-spinner>
        }@else {
        <h2>Generierte Anträge: {{totalFiles}}</h2>
        @if(latestFile) {
        <b>Neuster Antrag vom {{latestFile.uploadDate | date: 'dd.MM.yyyy HH:mm'}} Uhr:</b>
        <div class="latestfile">
            <span>{{latestFile.antragsart}} </span>
            @if(!latestFile.filesDeleted){
            <a (click)="uploadsS.getFile(latestFile.uploadID, 'pdf')" class="btnicon" title="Pdf öffnen">
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </a>
            }
        </div>
        }
        <div id="chart_div"></div>
        }
        <a routerLink="/dashboard/antragsliste" class="btntext">Alle Anträge anzeigen</a>
        }
    </div>
</app-dashboard-tile>