:host {
  display: flex;
  grid-column: span 2;

  @media screen and (max-width: 900px) {
    grid-column: auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-progress-spinner {
  margin: 0 auto;
  display: block;
}

h2 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.btntext {
  margin-top: auto;
}

.latestfile {
  margin: 1em 0;
  background-color: var(--hintergrund-variant);
  padding: 0.5em;
  border-radius: 16px;
}

.error {
  color: red;
}

app-antragsanzahltimeframe {
  flex: 1;
}

.chartToggle {
  text-align: right;
  margin-right: 0.5em;
  cursor: pointer;
  color: var(--primary-variant-darker);
}

app-google-chart {
  flex: 1;
  min-height: 15em;
}

.reloadBtn {
  padding: 0.2em;
  margin: 0 0.5em;
  height: 25px;
  width: 25px;
  text-align: center;
}
