<form [formGroup]="form" (ngSubmit)="form.valid && fs.nextStep()">
  <h2>Erblasser</h2>
  <p>Die Daten des verstorbenen Eigentümers.</p>
  <div class="formularcontent">
    <div class="input-container" id="vorname">
      <input formControlName="vorname" type="text" id="vornameinput" name="vorname" required spellcheck="false" placeholder="&nbsp;" />
      <label class="placeholder" for="vornameinput">Vorname</label>
    </div>
    <div class="input-container" id="nachname">
      <input formControlName="nachname" type="text" id="nachnameinput" name="nachname" required spellcheck="false" placeholder="&nbsp;" />
      <label class="placeholder" for="nachnameinput">Nachname</label>
    </div>
    <div>
      <div class="input-container" id="geburtsdatum">
        <input formControlName="geburtsdatum" type="date" id="geburtsdatuminput" name="geburtsdatum" spellcheck="false" placeholder="&nbsp;" />
        <label class="placeholder" for="geburtsdatuminput">Geburtsdatum</label>
      </div>
    </div>
    <div class="formNavBtn">
      @if (fs.currentStep() > 1) {
        <button class="btn-text" type="button" (click)="fs.stepback()">zurück</button>
      }
      <button class="btn-outlined">Weiter</button>
    </div>
  </div>
</form>
