.formNavBtn {
  display: flex;
  justify-content: flex-end;
}

#laufendeNummer {
  max-width: 4em;

  input {
    text-align: center;
  }
}

#bezeichnungContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;

  #bezeichnung {
    flex: 1 1 15em;
  }
}
