:host {
  display: flex;
  flex-direction: column;
}

.toggle {
  all: unset;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  user-select: none;
  border-radius: 12px;
  background-color: var(--hintergrund);

  &:hover {
    background-color: var(--hintergrund-variant);
  }

  &:focus-visible {
    outline: 1px solid;
  }
}

.toggle svg {
  fill: var(--schrift);
  height: 2em;
  width: 2em;
  margin: 5px;
}

.container {
  max-height: 0;
  transition: all 0.2s ease-out allow-discrete;
  overflow: hidden;
  background-color: var(--hintergrund-variant);
  border-radius: 12px;
  display: none;
}

.content {
  padding: 0 1em;
}

.open,
.open:hover {
  outline: 0.2em solid var(--primary-variant-darker);
  background-color: var(--primary-variant-much-brighter);
  font-weight: 700;

  + .container {
    margin-top: 0.6em;
    display: block;
  }
}

.open span {
  font-weight: 700;
}

.open svg {
  fill: var(--primary-variant-darker);
  transform: rotate(180deg);
  transition: all 0.2s;
}
