@defer (hydrate on interaction) {
  <app-header></app-header>
}
<section>
  <div class="content-spacer">
    <h1>Datenschutzerklärung</h1>
    <h2>Verantwortlicher</h2>
    <span>Rico Angenvoort</span>
    <span>Pommernstraße 48</span>
    <span>34497 Korbach</span>
    <a target="_blank" href="mailto:MailvonRico@gmail.com">MailvonRico&#64;gmail.com</a>
    <br />
    <a href="https://ricoswebsite.com/" target="_blank">ricoswebsite.com</a>
  </div>
</section>
<section>
  <div class="content-spacer">
    <h2>Antragsformular</h2>
    <p>
      Im Antragsformular werden die Pflichtangaben klar von den optionalen Angaben unterschieden. Die Pflichtangaben sind die Minimalangaben, die für
      den Antrag benötigt werden.
    </p>
    <p>Die IP-Adresse wird zwangsläufig übertragen.</p>
    <p>
      Die Rechtsgrundlage für die Pflichtangaben und Übertagung der IP-Adresse ist das berechtigte Interesse gemäß
      <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/">Art. 6 (1) f) DSGVO</a>. Dies begründet sich damit, dass ohne diese
      Daten kein Antragsgenerierung möglich ist. Die Antragsgenerierung liegt auch im Interesse des Nutzers.
    </p>
    <p>
      Für die optionalen Angaben gilt mit der freiwilligen Angabe eine stillschweigende Einwilligung gemäß
      <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/">Art. 6 (1) a) DSGVO</a>.
    </p>
    <p>
      Nachdem die PDF-Datei vom Server an die Nutzer gesendet wurde, wird die .pdf Datei und auch die .odt Datei gelöscht. Auf dem Server verbleiben
      folgende Daten ohne Personenbezug:
    </p>
    <h3>Angabe, welche Dateien generiert wurden</h3>
    <p class="eingerückt">
      Gespeichert wird nur, ob die .odt Datei und die .pdf Datei erfolgreich generiert wurden. Dies dient zur Kontrolle, ob die Generierungen
      erfolgreich sind oder Probleme bestehen.
    </p>
    <h3>Uploaddatum</h3>
    <p class="eingerückt">Das Uploaddatum der Datei. Dient zur Übersicht, wann wie viele Anträge generiert wurden.</p>
    <h3>Antragsart</h3>
    <p class="eingerückt">Welcher Antrag generiert wurde. Es wird eine Statistik geführt, welche Anträge wie oft generiert wurden.</p>
    <h3>Grundbuchamt</h3>
    <p class="eingerückt">Welches Grundbuchamt zuständig ist. Gespeichert wird nur die Bezeichnung des Grundbuchamts.</p>
    <h3>Dateidownload</h3>
    <p class="eingerückt">Welche Datei der Nutzer heruntergeladen hat.</p>
    <p>
      Der <a href="https://github.com/KopfdesDaemons/grundbuch-musterantrag.de" target="_blank">Quellcode</a> des ganzen Projekts ist öffentlich
      einsehbar.
    </p>
  </div>
</section>
<section>
  <div class="content-spacer">
    <h2>Cookies</h2>
    <p>Cookies werden lediglich für die Speicherung der vom Nutzer vorgenommenen Designeinstellungen verwendet.</p>
    <h3>Cookie "Darkmode"</h3>
    <p class="eingerückt">
      Speichert die Auswahl des Designschemas (hell oder dunkel). Ohne Cookie wird die Systemeinstellung verwendet. Wenn die Systemeinstellung des
      Nutzer dunkel ist, wird der Cookie immer gesetzt. Das verhindert ein Flackern beim Neuladen der Webseite. In diesem Fall ist der Cookie
      technisch notwendig und die Einwilligung ist nicht erforderlich
      <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/">Art. 6 (1) f) DSGVO</a>.
    </p>
    <h3>Cookie "Farbe"</h3>
    <p class="eingerückt">Speichert die Auswahl der Farbe der Webseite. Ohne Cookie wird die Farbe blau verwendet.</p>
    <p>
      Es ist
      <a class="dsgvo" target="_blank" href="https://www.e-recht24.de/artikel/datenschutz/12962-was-sind-essenzielle-cookies.html">
        rechtlich umstritten</a
      >, ob Desigen-Cookies als essentiellle Cookies gemäß
      <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/">Art. 6 (1) f) DSGVO</a> gelten. Deshalb wird die Einwilligung
      eingeholt gemäß <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/"> Art. 6 (1) a) DSGVO</a>. Die Dauer der Speicherung
      beträgt für beide Cookies 90 Tage.
    </p>
    @defer (on viewport) {
      <app-cookies-tile></app-cookies-tile>
    } @placeholder {
      <span>Lade Cookies</span>
    }
  </div>
</section>
<section>
  <div class="content-spacer">
    <h2>Drittanbieterdienste</h2>
    <p>Bei dem Aufruf von Drittanbieterdiensten wird zwangsläufig die IP-Adresse übertragen.</p>
    <h3>PLZ-API</h3>
    <p class="eingerückt">
      Um den Ort anhand der von Ihnen eingegeben Postleitzahl zu ermitteln, wird die API
      <a href="https://api.zippopotam.us">api.zippopotam.us</a> verwendet. Die von Ihnen eingegebene Postleitzahl wird übertragen.
    </p>
    <h3>Justizportal</h3>
    <p class="eingerückt">
      Um das zuständige Gericht zu ermitteln, wird das <a href="https://www.justizadressen.nrw.de/de/justiz/suche">Justizportal</a> verwendt. Dazu
      wird ebenfalls die von Ihnen eigegebene Postleitzahl übertragen. Wenn bei den Grundstücksdaten keine Postleitzahl angegeben wird, erfolgt auch
      keine Abfrage.
    </p>
    <p>
      Die Rechtsgrundlage ist das berechtigte Interesse gemäß
      <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-6-dsgvo/">Art. 6 (1) f) DSGVO</a>. Diese Dienste werden verwendet damit das
      Ausfüllen des Antragsformulars erleichtert wird. Dies liegt auch im Interesse des Nutzers.
    </p>
    <h3>Disqus</h3>
    <p class="eingerückt">
      Zur Bereitstellung der Kommentarfunktion wird der Drittanbieter <a href="https://disqus.com/" target="_blank">Disqus</a> eingesetzt. Die
      Kommentarfunktion wird nur geladen, wenn der Benutzer zustimmt. Rechtsgrundlage ist daher
      <a href="https://dsgvo-gesetz.de/art-6-dsgvo/" target="_blank">Art. 6 Abs. 1 lit. a DSGVO</a>. Welche Daten übertragen und wie diese genutzt
      werden, können Sie der <a href="https://disqus.com/privacy-policy/" target="_blank">Datenschutzerklärung von Disqus</a> entnehmen.
    </p>
    <button class="btn-text" (click)="revokeDisqus()">Zustimmung widerrufen</button>
  </div>
</section>
<section>
  <div class="content-spacer">
    <h2>Gesetzliche Belehrungen</h2>
    <p>Sie werden belehrt über das Bestehen eines Rechts</p>
    <ul>
      <li>
        gemäß <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-13-dsgvo/">Art. 13 (2) b) DSGVO</a> auf Auskunft seitens des
        Verantwortlichen über die betreffenden personenbezogenen Daten sowie auf Berichtigung oder Löschung oder auf Einschränkung der Verarbeitung
        oder eines Widerspruchsrechts gegen die Verarbeitung sowie das Recht auf Datenübertragbarkeit.
      </li>
      <li>
        gemäß <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-13-dsgvo/">Art. 13 (2) c) DSGVO</a> auf Widerruf einer abgegebenen
        Einwilligung zur Verarbeitung personenbezogener Daten.
        <br />
        <button class="btn-text" (click)="deleteCookies()">Cookies löschen</button>
      </li>
      <li>
        gemäß <a class="dsgvo" target="_blank" href="https://dsgvo-gesetz.de/art-13-dsgvo/">Art. 13 (2) d) DSGVO</a> auf Beschwerde bei einer
        Aufsichtsbehörde.
      </li>
    </ul>
    <p>
      Ihre Bereitstellung der personenbezogenen Daten ist nicht gesetzlich oder vertraglich vorgeschrieben, jedoch für die Generierung des Antrags
      erforderlich. Sie sind nicht verpflichtet Daten bereitzustellen. Die Nichtbreitstellung hat zur Folge, dass Sie keinen Antrag generieren lassen
      können.
    </p>
  </div>
</section>
@defer (hydrate on viewport) {
  <app-footer></app-footer>
}
